footer.footer
    .footer__top
        .footer__container
            .footer__column.footer__column_desctop
                ul.footer__list
                    li.footer__item
                        a.footer__link(href='#') О БРЕНДЕ
                    li.footer__item
                        a.footer__link(href='#') БОЛЬШЕ О ЧАЕ
            .footer__column.footer__column_desctop
                ul.footer__list
                    li.footer__item
                        a.footer__link(href='#') КАТАЛОГ
                    li.footer__item
                        a.footer__link(href='#') КОНТАКТЫ
            .footer__column.footer__wr-logo
                a.footer__logo
                    img.footer__logo--img(src='../img/icons/footer-logo.svg' alt='Logo')
            .footer__column.footer__column-wr-contacts
                ul.footer__list.footer__list-phone
                    li.footer__item.footer__item-phone
                        a.footer__link.footer__link-phone(href='tel:+74991369631') 8 (499) 136-9-631
                        span Чай для бизнеса
                    li.footer__item.footer__item-phone
                        a.footer__link.footer__link-phone(href='tel:+74957896727') 8 (495) 789-67-27
                        span Чай для дома
            .footer__column.footer__column-address
                ul.footer__list.footer__list-address
                    li.footer__item.footer__item-address
                        a.footer__link.footer__link-address(href='#')
                            span Москва,
                            span Хорошевское шоссе,
                            span д. 32А
    .copyright Все права защищены 2023