.swiper.tea-sl-swiper_mobile(class="tea-sl-swiper_mobile_" + classSlMobileSlider)
    .swiper-wrapper
        each item in dataSlider
            .swiper-slide.tea-sl-m__slide(class="tea-sl-m__slide_" + classSlMobileSlider)
                img.tea-sl-m__slide-img(src=item.path alt=item.alt)
        //- .swiper-slide.tea-sl-m__slide
        //-     img.tea-sl-m__slide-img(src='../img/content/pyramid-ginger-tropic.png')
        //- .swiper-slide.tea-sl-m__slide
        //-     img.tea-sl-m__slide-img(src='../img/content/pyramid-strawberry-pana-cotta.png')
        //- .swiper-slide.tea-sl-m__slide
        //-     img.tea-sl-m__slide-img(src='../img/content/pyramid-green-wind.png')
        //- .swiper-slide.tea-sl-m__slide
        //-     img.tea-sl-m__slide-img(src='../img/content/pyramid-forest-meditation.png')
        //- .swiper-slide.tea-sl-m__slide
        //-     img.tea-sl-m__slide-img(src='../img/content/pyramid-milk-oolong.png')
        //- .swiper-slide.tea-sl-m__slide
        //-     img.tea-sl-m__slide-img(src='../img/content/pyramid-russian-breakfast.png')
        //- .swiper-slide.tea-sl-m__slide
        //-     img.tea-sl-m__slide-img(src='../img/content/pyramid-earl-grey.png')