- 
    let articles = {
        title: 'Нечайный чай',
        imgTop: '../img/content/about-tea-article-non-tea-top.png',
        imgBottom: [
            //- {
            //-     path: '../img/content/about-tea-article-non-tea-bottom-1.png',
            //-     description: '', 
            //- },
            //- {
            //-     path: '../img/content/about-tea-article-non-tea-bottom-2.png',
            //-     description: '', 
            //- },
        ],
        video: '',
        text: [
            'Помимо традиционного чая, во многих чайных коллекциях встречается такой напиток как ройбуш, который делают методом ферментации (как и черный чай) из игловидных листочков растения Aspalathus linearis семейства бобовые. К обычному чаю (Camellia sinensis) он не имеет никакого отношения и произрастает только в одном месте в мире – в ЮАР. Издавна отвар из ройбуша употребляли туземцы из племени кой-коин. Сегодня ройбуш известен во всем мире и сохраняет свою популярность благодаря необычному древесному вкусу и полезным для здоровья свойствам. Чем же так полезен ройбуш?',
            '1. Ройбуш содержит кверцетин – мощный антиоксидант (вещество, защищающее клетки от окисления и последующего разрушения), который предотвращает сердечно-сосудистые и раковые заболевания, а также обладает противовоспалительным эффектом.',
            '2. Ройбуш содержит редкое вещество аспалатин, которое регулирует содержания сахара в крови и имеет антидиабетическое действие.',
            '3. Еще одно биологически активное вещество в составе ройбуша – нотофагин – помогает при воспалительных реакциях и служит профилактикой болезни Альцгеймера.',
            '4. Ройбуш очень популярен среди беременных женщин, так как он является спазмолитиком, снимает колики и боли в желудке, улучшает пищеварение. Ройбуш не содержит кофеина и поэтому разрешен даже детям.',
            '5. Недавние исследования японских ученых показали, что ройбуш также снимает симптомы аллергических реакций. Конечно, ройбуш не является панацей от всех болезней. При его употреблении, как и в случае других полезных растений, лучше соблюдать меру. Традиционно его употребляют горячим с различными добавкам, но постепенно набирают популярность и холодные версии ройбуша со льдом и даже ройбуш-эспрессо, приготовленного по аналогии с кофе.',
        ],
        alt: 'Нечайный чай',
    }
    
- let classPage = 'non-tea'

-
    let breadcrumbs = [ 
        {name: 'Главная', url: './index.html'},
        {name: 'Статья', url: './about-tea.html'},
        {name: 'Нечайный чай', url: './about-tea-article-non-tea-tea.html'}
    ]

doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        include ./modules/favicon
        title Больше о чае
    body
        .wrapper-page-about-tea
            include ./modules/header

            main.main
                include ./modules/bread-crumbs

                .tea-article__wrapper 
                    include ./modules/mod-about-tea-article

            include ./modules/footer