- 
    let articles = {
        title: 'Что нужно знать о молочном улуне',
        imgTop: '../img/content/about-tea-article-milk-oolong-top.png',
        imgBottom: [
            {
                path: '../img/content/about-tea-article-milk-oolong-bottom-1.png',
                description: '', 
            },
            {
                path: '../img/content/about-tea-article-milk-oolong-bottom-2.png',
                description: '', 
            },
        ],
        video: '',
        text: [
            'Молочный улун есть в меню практически каждого ресторана, в ассортименте почти любого чайного магазина или обычного супермаркета. У многих людей интерес к чайной культуре начинается именно с этого сорта. Но все ли знают, почему он «молочный»?',
            'История Молочного улуна начинается в 1980-е годы на острове Тайвань. В результате активной работы по селекции был выведен удачный сорт с техническим названием TTES-12 (TTES - это обозначение сортов Тайваньской опытной станции по изучению и развитию чайного производства (Taiwan Tea Research and Extension Station), 12 - порядковый номер сорта), который позже поучил название Цзинь Сюань — Огненный цветок. В неароматизированном улуне, изготавливаемом из сорта Цзинь Сюань, проявляются естественные молочные ноты, но очень слабо и нерегулярно. Такое свойство чая очень ценят знатоки, но для массового рынка такой чай не годился: потребителю была нужна вкусовая стабильность и более яркий аромат.',
            'Для удовлетворения слишком высокого спроса, а также из-за интереса к более насыщенному молочному запаху, производители стали прибегать к обыкновенной ароматизации чая: в чай сначала стали добавлять натуральный карамельный ароматизатор, а затем и различные виды других пищевых ароматизаторов. Таких ароматизаторов довольно много, различаются они нюансами аромата: молоко, карамель, ирис, молоко с шоколадом и прочее.',
            'Молочный улун не поливают молоком и не пропаривают над ним, не посыпают сахаром и не смешивают с молочным порошком, а сами кусты также молоком не опрыскивают (честно говоря, молоко для Китая не такой массовый продукт, как для нас). Все дело в ароматизаторе. Качественный пищевой ароматизатор не представляет вреда для организма, как при этом не представляет он и пользы.',
            'В качестве основы для ароматизации может использоваться чай очень разного качества (и уж точно не только оригинальный Цзинь Сюань). Это может быть дешевый низкосортный улун, который сам по себе не продается, а может быть и более чем достойный чай. Качественный чай можно определить по внешнему виду: незаваренные скрученные листочки одинаковы по размеру и цвету, без пыли, заваренный лист раскрывается большим и цельным. У хорошего чая вкус и аромат сохраняются на протяжении не менее трёх завариваний, не сопровождаясь посторонними привкусами.'
        ],
        alt: 'Что нужно знать о молочном улуне',
    }
    
- let classPage = 'milk-oolong'
 
-
    let breadcrumbs = [ 
        {name: 'Главная', url: './index.html'},
        {name: 'Больше о чае', url: './about-tea.html'},
        {name: 'Что нужно знать о молочном улуне', url: './about-tea-article-milk-oolong.html'}
    ]

doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        include ./modules/favicon
        title Больше о чае
    body
        .wrapper-page-about-tea
            include ./modules/header

            main.main
                include ./modules/bread-crumbs

                .tea-article__wrapper 
                    include ./modules/mod-about-tea-article

            include ./modules/footer