- 
    let dataArticles = [
        {
            title: 'Что нужно знать о молочном улуне',
            article: ['Молочный улун есть в меню практически каждого ресторана, в ассортименте почти любого чайного магазина или обычного супермаркета. У многих людей интерес к чайной культуре начинается именно с этого сорта. Но все ли знают, почему он «молочный»?', 'В неароматизированном улуне, изготавливаемом из сорта Цзинь Сюань, проявляются естественные молочные ноты, но очень слабо и нерегулярно. Такое свойство чая очень ценят знатоки, но для массового рынка такой чай не годился: потребителю была нужна вкусовая стабильность и более яркий аромат.'],
            link: './about-tea-article-milk-oolong.html',
            classCard: 'milk-oolong',
        },
        {
            title: 'Нечайный чай',
            article: ['Помимо традиционного чая, во многих чайных коллекциях встречается такой напиток как ройбуш, который делают методом ферментации (как и черный чай) из игловидных листочков растения Aspalathus linearis семейства бобовые. К обычному чаю (Camellia sinensis) он не имеет никакого отношения и произрастает только в одном месте в мире – в ЮАР.',
            'Издавна отвар из ройбуша употребляли туземцы из племени кой-коин. Сегодня ройбуш известен во всем мире и сохраняет свою популярность благодаря необычному древесному вкусу и полезным для здоровья свойствам. Чем же так полезен ройбуш?'],
            link: './about-tea-article-non-tea-tea.html',
            classCard: 'non-tea',
        },
        {
            title: 'Почему зеленый чай остается зеленым?',
            article: ['Все виды чая получаются из листьев одного и того же растения – камелии китайской, но в результате различной обработки. В основе обработки чая лежит процесс ферментации – комплекса окислительных реакций, которые протекают под действием ферментов (ферменты содержатся в чайном листе от природы).',
            'Зеленый чай является наименее ферментированным (окисленным), черный и пуэр – наиболее. Человек может контролировать ферментацию и останавливать ее по своему желанию. Этап остановки ферментации называется «фиксацией» и осуществляется при помощи кратковременного, но интенсивного прогрева. Чай как бы фиксируется в своем текущем состоянии.'],
            link: './about-tea-article-staying-green.html',
            classCard: 'staying-green',
        },
    ]

-
    let breadcrumbs = [ 
        {name: 'Главная', url: './index.html'},
        {name: 'Больше о чае', url: './about-tea.html'}
    ]

doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        include ./modules/favicon
        title Больше о чае
    body
        .wrapper-page-about-tea
            include ./modules/header

            main.main

                include ./modules/bread-crumbs

                .about-tea__wr-articles 
                    each item in dataArticles
                        .about-tea__article(class='about-tea__article_' + item.classCard)
                            .about-tea__article-img(class='about-tea__article-img_' + item.classCard)
                            .about-tea__article-descr
                                h2.about-tea__article-title #{item.title}
                                .about-tea__article-wr-text
                                    each i in item.article 
                                        p #{i}
                                .about-tea__article-wr-link
                                    a.button__link.about-tea__article-link(href=item.link)
                                        span УЗНАТЬ БОЛЬШЕ



            include ./modules/footer
