- 
    let articles = {
        title: 'Почему зеленый чай остается зеленым?',
        imgTop: '../img/content/about-tea-article-staying-green-top.webp',
        imgBottom: [
            {
                path: '../img/content/about-tea-article-staying-green-bottom-1.webp',
                description: 'Пропаривание чая', 
            },
            {
                path: '../img/content/about-tea-article-staying-green-bottom-2.webp',
                description: 'Прожаривание чая', 
            },
            {
                path: '../img/content/about-tea-article-staying-green-bottom-3.webp',
                description: 'Чайный лист в обжарочном барабане', 
            },
            {
                path: '../img/content/about-tea-article-staying-green-bottom-4.webp',
                description: 'Сушка на солнце',
            },
        ],
        video: '',
        text: [
            'Все виды чая получаются из листьев одного и того же растения – камелии китайской, но в результате различной обработки. В основе обработки чая лежит процесс ферментации – комплекса окислительных реакций, которые протекают под действием ферментов (ферменты содержатся в чайном листе от природы). Зеленый чай является наименее ферментированным (окисленным), черный и пуэр – наиболее. Человек может контролировать ферментацию и останавливать ее по своему желанию. Этап остановки ферментации называется «фиксацией» и осуществляется при помощи кратковременного, но интенсивного прогрева. Чай как бы фиксируется в своем текущем состоянии. Именно благодаря фиксации зеленый чай сохраняет состав, максимально близкий к природному, зеленый цвет, чистый и свежий вкус. Однако способ фиксации оказывает непосредственное влияние на букет и прочие свойства готового чая. Какие же способы фиксации чая существуют?',
            '1. Пропаривание. Горячий водяной пар пропускается через чайный лист в течение примерно 30-60 секунд. Так обрабатывается большинство японских зеленых чаев. У таких чаев обычно более яркий, изумрудно-зелёный цвет листа, желтовато-зелёный настой, выраженный минерально-морской вкус. Характерный пример – Сенча.',
            '2. Прожаривание. Проводится в горячем котле-воке при постоянном помешивании (чаще всего вручную) или вращающемся барабане. Обычно прожарка проводится в несколько этапов с постепенным понижением температуры (вначале может составлять 200-250°С и даже выше). В аромате и вкусе таких чаев могут быть заметны тона жареных орехов, семечек или каштанов, халвы. Характерный пример – Лун Чин (Колодец Дракона).',
            '3. Прогрев в токе горячего воздуха. Этот способ похож на предыдущий, но источник тепла не контактирует с чайным листом непосредственно – например, чай может располагаться на относительно негорячей решетке. Так делают сырье для производства цветочных чаев, например, жасминового.',
            'В качестве 4-ого способа иногда обозначают сушку на солнце, однако полноценной фиксации это не дает, такие чаи заметно окислены и напоминают по качеству белый или даже красный чай.',
        ],
        alt: 'Почему зеленый чай остается зеленым?',
    }
    
- let classPage = 'staying-green'

-
    let breadcrumbs = [ 
        {name: 'Главная', url: './index.html'},
        {name: 'Больше о чае', url: './about-tea.html'},
        {name: 'Почему зеленый чай остается зеленым?', url: './about-tea-article-staying-green.html'}
    ]

doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        include ./modules/favicon
        include ./modules/analytics.pug
        title Больше о чае
    body
        .wrapper-page-about-tea
            include ./modules/header

            main.main
                include ./modules/bread-crumbs

                .tea-article__wrapper 
                    include ./modules/mod-about-tea-article

            include ./modules/footer