- 
    let dataCards = [
            {
                href: './in-development.html',
                string1: ['Jin Hao'],
                string2: ['красный чай'],
                img: '../img/content/leaf-jin-hao.png',
                'img-anim': '../img/content/leaf-violet-animation.png',
                alt: 'Jin Hao',
                classCard: 'leaf',
            },
            {
                href: './in-development.html',
                string1: ['Tie Guan Yin'],
                string2: ['зеленый чай'],
                img: '../img/content/leaf-tie-guan-yin.png',
                'img-anim': '../img/content/leaf-green-animation.png',
                alt: 'Tie Guan Yin',
                classCard: 'leaf',
            },
            {
                href: './in-development.html',
                string1: ['Da hong pao'],
                string2: ['зеленый чай'],
                img: '../img/content/leaf-da-hong-pao.png',
                'img-anim': '../img/content/leaf-green-animation.png',
                alt: 'Da hong pao',
                classCard: 'leaf',
            },
            {
                href: './in-development.html',
                string1: ['Uzbek tea №95'],
                string2: ['зеленый чай'],
                img: '../img/content/leaf-uzbek-tea-95.png',
                'img-anim': '../img/content/leaf-green-animation.png',
                alt: 'Uzbek tea №95',
                classCard: 'leaf',
            },
            {
                href: './in-development.html',
                string1: ['Georgian green tea', '№36'],
                string2: ['зеленый чай'],
                img: '../img/content/leaf-georgian-green-tea-36.png',
                'img-anim': '../img/content/leaf-green-animation.png',
                alt: 'Georgian green tea №36',
                classCard: 'leaf',
            },
            {
                href: './in-development.html',
                string1: ['Georgian black tea', '№36'],
                string2: ['черный чай'],
                img: '../img/content/leaf-georgian-black-tea-36.png',
                'img-anim': '../img/content/leaf-violet-animation.png',
                alt: 'Georgian black tea №36',
                classCard: 'leaf',
            },
            {
                href: './in-development.html',
                string1: ['Сбитень', 'монастырский'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-traditional-sbiten.png',
                'img-anim': '../img/content/leaf-yellow-animation.png',
                alt: 'Сбитень монастырский',
                classCard: 'leaf',
            },
            {
                href: './in-development.html',
                string1: ['Мыс целебных трав'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-healing-herbs.png',
                'img-anim': '../img/content/leaf-yellow-animation.png',
                alt: 'Мыс целебных трав',
                classCard: 'leaf',
            },
            {
                href: './in-development.html',
                string1: ['Иван-чай'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-fireweed-natural.png',
                'img-anim': '../img/content/leaf-violet-animation.png',
                alt: 'Иван-чай',
                classCard: 'leaf',
            },
            {
                href: './in-development.html',
                string1: ['Сливочный улун'],
                string2: ['зеленый чай'],
                img: '../img/content/leaf-creamy-oolong.png',
                'img-anim': '../img/content/leaf-light-green-animation.png',
                alt: 'Сливочный улун',
                classCard: 'leaf',
            },
            {
                href: './in-development.html',
                string1: ['Dian hong'],
                string2: ['черный чай'],
                img: '../img/content/leaf-dian-hong.png',
                'img-anim': '../img/content/leaf-violet-animation.png',
                alt: 'Dian hong',
                classCard: 'leaf',
            },
            {
                href: './in-development.html',
                string1: ['Алтайский сбор №3'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-altai-herbal-mix-3.png',
                'img-anim': '../img/content/leaf-yellow-animation.png',
                alt: 'Алтайский сбор №3',
                classCard: 'leaf',
            },
            {
                href: './in-development.html',
                string1: ['Саган-Дайля'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-sagan-dale.png',
                'img-anim': '../img/content/leaf-violet-animation.png',
                alt: 'Саган-Дайля',
                classCard: 'leaf',
            },
            {
                href: './in-development.html',
                string1: ['Травы Алтая'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-altaic-herbs.png',
                'img-anim': '../img/content/leaf-violet-animation.png',
                alt: 'Травы Алтая',
                classCard: 'leaf',
            },
            {
                href: './in-development.html',
                string1: ['Черный купаж', 'со специями'],
                string2: ['черный чай'],
                img: '../img/content/leaf-spicy-black.png',
                'img-anim': '../img/content/leaf-violet-animation.png',
                alt: 'Черный купаж со специями',
                classCard: 'leaf',
            },
            {
                href: './in-development.html',
                string1: ['Алтайский сбор №1'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-altai-herbal-mix-1.png',
                'img-anim': '../img/content/leaf-yellow-animation.png',
                alt: 'Алтайский сбор №1',
                classCard: 'leaf',
            },
            {
                href: './in-development.html',
                string1: ['Алтайский сбор №2'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-altai-herbal-mix-2.png',
                'img-anim': '../img/content/leaf-yellow-animation.png',
                alt: 'Алтайский сбор №2',
                classCard: 'leaf',
            },
            {
                href: './in-development.html',
                string1: ['Чабрец'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-thyme.png',
                'img-anim': '../img/content/leaf-violet-animation.png',
                alt: 'Чабрец',
                classCard: 'leaf',
            },
            {
                href: './in-development.html',
                string1: ['Душица'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-oregano.png',
                'img-anim': '../img/content/leaf-violet-animation.png',
                alt: 'Душица',
                classCard: 'leaf',
            },
            {
                href: './in-development.html',
                string1: ['Лист смородины'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-black-currant-leaf.png',
                'img-anim': '../img/content/leaf-violet-animation.png',
                alt: 'Лист смородины',
                classCard: 'leaf',
            },
            {
                href: './in-development.html',
                string1: ['Бадан'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-bergenia.png',
                'img-anim': '../img/content/leaf-violet-animation.png',
                alt: 'Бадан',
                classCard: 'leaf',
            },
            {
                href: './in-development.html',
                string1: ['Лаванда'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-lavender.png',
                'img-anim': '../img/content/leaf-violet-animation.png',
                alt: 'Лаванда',
                classCard: 'leaf',
            },
            {
                href: './in-development.html',
                string1: ['Гречишный чай', 'Гранулированный'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-buckwheat-granulated.png',
                'img-anim': '../img/content/leaf-violet-animation.png',
                alt: 'Гречишный чай гранулированный',
                classCard: 'leaf',
            },
            {
                href: './in-development.html',
                string1: ['Каскара'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-cascara.png',
                'img-anim': '../img/content/leaf-violet-animation.png',
                alt: 'Каскара',
                classCard: 'leaf',
            },
            {
                href: './in-development.html',
                string1: ['Гречишный чай'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-buckwheat.png',
                'img-anim': '../img/content/leaf-violet-animation.png',
                alt: 'Гречишный чай',
                classCard: 'leaf',
            },
            {
                href: './in-development.html',
                string1: ['Анчан'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-butterly-pea-flower.png',
                'img-anim': '../img/content/leaf-violet-animation.png',
                alt: 'Анчан',
                classCard: 'leaf',
            },
            {
                href: './in-development.html',
                string1: ['Gaba Oolong'],
                string2: ['зеленый чай'],
                img: '../img/content/leaf-gaba-oolong.png',
                'img-anim': '../img/content/leaf-light-green-animation.png',
                alt: 'Gaba Oolong',
                classCard: 'leaf',
            },
            {
                href: './in-development.html',
                string1: ['Шиповник'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-rosehi-p.png',
                'img-anim': '../img/content/leaf-violet-animation.png',
                alt: 'Шиповник',
                classCard: 'leaf',
            },
            {
                href: './in-development.html',
                string1: ['Каркаде'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-hibiscus.png',
                'img-anim': '../img/content/leaf-violet-animation.png',
                alt: 'Каркаде',
                classCard: 'leaf',
            },
            {
                href: './in-development.html',
                string1: ['Ройбуш'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-rooibush.png',
                'img-anim': '../img/content/leaf-violet-animation.png',
                alt: 'Ройбуш',
                classCard: 'leaf',
            },
        ];
        
- let classPage = 'leaf';
- let title = ['Листовой чай', 'Базовая линейка'];

-
    let breadcrumbs = [
        {name: 'Главная', url: './index.html'},
        {name: 'Каталог', url: './catalog.html'},
        {name: 'Листовой чай Базовая линейка', url: './catalog-leaf.html'}
    ]

doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title Листовой чай Базовая линейка
    body(data-variant='catalog')
        include ./modules/header.pug

        main.main
            include ./modules/bread-crumbs
                
            include ./modules/catalog-packs-cards
                

        include ./modules/footer
