- 
    let dataCards = [
            {
                href: './product-card-leaf-jin-hao.html', 
                string1: ['Jin Hao'],
                string2: ['красный чай'],
                img: '../img/content/leaf-jin-hao.webp',
                'img-anim': '../img/content/leaf-violet-animation.webp',
                alt: 'Jin Hao',
                classCard: 'leaf',
            },
            {
                href: './product-card-leaf-tie-guan-yin.html',
                string1: ['Tie Guan Yin'],
                string2: ['зеленый чай'],
                img: '../img/content/leaf-tie-guan-yin.webp',
                'img-anim': '../img/content/leaf-green-animation.webp',
                alt: 'Tie Guan Yin',
                classCard: 'leaf',
            },
            {
                href: './product-card-leaf-da-hong-pao.html',
                string1: ['Da hong pao'],
                string2: ['зеленый чай'],
                img: '../img/content/leaf-da-hong-pao.webp',
                'img-anim': '../img/content/leaf-green-animation.webp',
                alt: 'Da hong pao',
                classCard: 'leaf',
            },
            {
                href: './product-card-leaf-uzbeck-tea-95.html',
                string1: ['Uzbek tea №95'],
                string2: ['зеленый чай'],
                img: '../img/content/leaf-uzbek-tea-95.webp',
                'img-anim': '../img/content/leaf-green-animation.webp',
                alt: 'Uzbek tea №95',
                classCard: 'leaf',
            },
            {
                href: './product-card-leaf-georgian-green-tea-36.html',
                string1: ['Georgian green tea', '№36'],
                string2: ['зеленый чай'],
                img: '../img/content/leaf-georgian-green-tea-36.webp',
                'img-anim': '../img/content/leaf-green-animation.webp',
                alt: 'Georgian green tea №36',
                classCard: 'leaf',
            },
            {
                href: './product-card-leaf-georgian-black-tea-36.html',
                string1: ['Georgian black tea', '№36'],
                string2: ['черный чай'],
                img: '../img/content/leaf-georgian-black-tea-36.webp',
                'img-anim': '../img/content/leaf-violet-animation.webp',
                alt: 'Georgian black tea №36',
                classCard: 'leaf',
            },
            {
                href: './product-card-leaf-traditional-sbiten.html',
                string1: ['Сбитень', 'монастырский'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-traditional-sbiten.webp',
                'img-anim': '../img/content/leaf-yellow-animation.webp',
                alt: 'Сбитень монастырский',
                classCard: 'leaf',
            },
            {
                href: './product-card-leaf-healing-herbs.html',
                string1: ['Мыс целебных трав'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-healing-herbs.webp',
                'img-anim': '../img/content/leaf-yellow-animation.webp',
                alt: 'Мыс целебных трав',
                classCard: 'leaf',
            },
            {
                href: './product-card-leaf-fireweed-natural.html',
                string1: ['Иван-чай'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-fireweed-natural.webp',
                'img-anim': '../img/content/leaf-violet-animation.webp',
                alt: 'Иван-чай',
                classCard: 'leaf',
            },
            {
                href: './product-card-leaf-creamy-oolong.html',
                string1: ['Сливочный улун'],
                string2: ['зеленый чай'],
                img: '../img/content/leaf-creamy-oolong.webp',
                'img-anim': '../img/content/leaf-light-green-animation.webp',
                alt: 'Сливочный улун',
                classCard: 'leaf',
            },
            {
                href: './product-card-leaf-dian-hong.html',
                string1: ['Dian hong'],
                string2: ['черный чай'],
                img: '../img/content/leaf-dian-hong.webp',
                'img-anim': '../img/content/leaf-violet-animation.webp',
                alt: 'Dian hong',
                classCard: 'leaf',
            },
            {
                href: './product-card-leaf-altai-herbal-mix-3.html',
                string1: ['Алтайский сбор №3'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-altai-herbal-mix-3.webp',
                'img-anim': '../img/content/leaf-yellow-animation.webp',
                alt: 'Алтайский сбор №3',
                classCard: 'leaf',
            },
            {
                href: './product-card-leaf-sagan-dale.html',
                string1: ['Саган-Дайля'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-sagan-dale.webp',
                'img-anim': '../img/content/leaf-violet-animation.webp',
                alt: 'Саган-Дайля',
                classCard: 'leaf',
            },
            {
                href: './product-card-leaf-altaic-herbs.html',
                string1: ['Травы Алтая'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-altaic-herbs.webp',
                'img-anim': '../img/content/leaf-violet-animation.webp',
                alt: 'Травы Алтая',
                classCard: 'leaf',
            },
            {
                href: './product-card-leaf-spisy-black.html',
                string1: ['Черный купаж', 'со специями'],
                string2: ['черный чай'],
                img: '../img/content/leaf-spicy-black.webp',
                'img-anim': '../img/content/leaf-violet-animation.webp',
                alt: 'Черный купаж со специями',
                classCard: 'leaf',
            },
            {
                href: './product-card-leaf-altai-herbal-mix-1.html',
                string1: ['Алтайский сбор №1'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-altai-herbal-mix-1.webp',
                'img-anim': '../img/content/leaf-yellow-animation.webp',
                alt: 'Алтайский сбор №1',
                classCard: 'leaf',
            },
            {
                href: './product-card-leaf-altai-herbal-mix-2.html',
                string1: ['Алтайский сбор №2'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-altai-herbal-mix-2.webp',
                'img-anim': '../img/content/leaf-yellow-animation.webp',
                alt: 'Алтайский сбор №2',
                classCard: 'leaf',
            },
            {
                href: './product-card-leaf-thyme.html',
                string1: ['Чабрец'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-thyme.webp',
                'img-anim': '../img/content/leaf-violet-animation.webp',
                alt: 'Чабрец',
                classCard: 'leaf',
            },
            {
                href: './product-card-leaf-oregano.html',
                string1: ['Душица'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-oregano.webp',
                'img-anim': '../img/content/leaf-violet-animation.webp',
                alt: 'Душица',
                classCard: 'leaf',
            },
            {
                href: './product-card-leaf-currant-leaf.html',
                string1: ['Лист смородины'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-black-currant-leaf.webp',
                'img-anim': '../img/content/leaf-violet-animation.webp',
                alt: 'Лист смородины',
                classCard: 'leaf',
            },
            {
                href: './product-card-leaf-bergenia.html',
                string1: ['Бадан'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-bergenia.webp',
                'img-anim': '../img/content/leaf-violet-animation.webp',
                alt: 'Бадан',
                classCard: 'leaf',
            },
            {
                href: './product-card-leaf-lavander.html',
                string1: ['Лаванда'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-lavender.webp',
                'img-anim': '../img/content/leaf-violet-animation.webp',
                alt: 'Лаванда',
                classCard: 'leaf',
            },
            {
                href: './product-card-leaf-buckwheat-tea-granular.html',
                string1: ['Гречишный чай', 'Гранулированный'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-buckwheat-granulated.webp',
                'img-anim': '../img/content/leaf-violet-animation.webp',
                alt: 'Гречишный чай гранулированный',
                classCard: 'leaf',
            },
            {
                href: './product-card-leaf-cascara.html',
                string1: ['Каскара'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-cascara.webp',
                'img-anim': '../img/content/leaf-violet-animation.webp',
                alt: 'Каскара',
                classCard: 'leaf',
            },
            {
                href: './product-card-leaf-buckwheat-tea.html',
                string1: ['Гречишный чай'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-buckwheat.webp',
                'img-anim': '../img/content/leaf-violet-animation.webp',
                alt: 'Гречишный чай',
                classCard: 'leaf',
            },
            {
                href: './product-card-leaf-butterfly-pea-flower.html',
                string1: ['Анчан'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-butterly-pea-flower.webp',
                'img-anim': '../img/content/leaf-violet-animation.webp',
                alt: 'Анчан',
                classCard: 'leaf',
            },
            {
                href: './product-card-leaf-gaba-oolong.html',
                string1: ['Gaba Oolong'],
                string2: ['зеленый чай'],
                img: '../img/content/leaf-gaba-oolong.webp',
                'img-anim': '../img/content/leaf-light-green-animation.webp',
                alt: 'Gaba Oolong',
                classCard: 'leaf',
            },
            {
                href: './product-card-leaf-rosehip.html',
                string1: ['Шиповник'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-rosehi-p.webp',
                'img-anim': '../img/content/leaf-violet-animation.webp',
                alt: 'Шиповник',
                classCard: 'leaf',
            },
            {
                href: './product-card-leaf-hibiscus.html',
                string1: ['Каркаде'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-hibiscus.webp',
                'img-anim': '../img/content/leaf-violet-animation.webp',
                alt: 'Каркаде',
                classCard: 'leaf',
            },
            {
                href: './product-card-leaf-rooibush.html',
                string1: ['Ройбуш'],
                string2: ['травяной чай'],
                img: '../img/content/leaf-rooibush.webp',
                'img-anim': '../img/content/leaf-violet-animation.webp',
                alt: 'Ройбуш',
                classCard: 'leaf',
            },
        ];
        
- let classPage = 'leaf';
- let title = ['Листовой чай', 'Базовая линейка'];

-
    let breadcrumbs = [
        {name: 'Главная', url: './index.html'},
        {name: 'Каталог', url: './catalog.html'},
        {name: 'Листовой чай Базовая линейка', url: './catalog-leaf.html'}
    ]

doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title Листовой чай Базовая линейка
    body(data-variant='catalog')
        include ./modules/header.pug

        main.main
            include ./modules/bread-crumbs

            .catalog__tea-pack    
                include ./modules/catalog-packs-cards
                

        include ./modules/footer
