include mixines/catalog-packs-cards

- 
    let dataCards = [
            {
                href: './product-card-dellipack-earl-grey.html', 
                string1: ['Эрл Грей', Ультрамарин],
                string2: ['черный чай'],
                img: '../img/content/dellipack-earl-grey-ultramarine.webp',
                'img-anim': '../img/content/dellipack-earl-grey-ultramarine-animate.webp',
                alt: 'Эрл Грей Ультрамарин',
                classCard: 'dellipack',
            },
            {
                href: './product-card-dellipack-jasmine-emerald.html',
                string1: ['Жасмин Изумруд'],
                string2: ['зеленый чай'],
                img: '../img/content/dellipack-jasmine-emerald.webp',
                'img-anim': '../img/content/dellipack-jasmine-emerald-animate.webp',
                alt: 'Жасмин изумруд', 
                classCard: 'dellipack',
            },
            {
                href: './product-card-dellipack-mountain-thyme.html',
                string1: ['Горный Чабрец'],
                string2: ['черный чай'],
                img: '../img/content/dellipack-mountain-thyme.webp',
                'img-anim': '../img/content/dellipack-mountain-thyme-animate.webp',
                alt: 'Горный чабрец',
                classCard: 'dellipack',
            },
            {
                href: './product-card-dellipack-oriental-bloom.html',
                string1: ['Ориентал Блум'],
                string2: ['зеленый чай'],
                img: '../img/content/dellipack-oriental-bloom.webp',
                'img-anim': '../img/content/dellipack-oriental-bloom-animate.webp',
                alt: 'Ориентал Блум',
                classCard: 'dellipack',
            },
            {
                href: './product-card-dellipack-fruit-magenta.html',
                string1: ['Фрут Маджента'],
                string2: ['фруктовый чай'],
                img: '../img/content/dellipack-fruit-magenta.webp',
                'img-anim': '../img/content/dellipack-fruit-magenta-animate.webp',
                alt: 'Фрут Маджента',
                classCard: 'dellipack',
            },
            {
                href: './product-card-dellipack-kenya-sapphire.html',
                string1: ['Кения Сапфир'],
                string2: ['черный чай'],
                img: '../img/content/dellipack-kenya-sapphire.webp',
                'img-anim': '../img/content/dellipack-kenya-sapphire-animate.webp',
                alt: 'Кения Сапфир',
                classCard: 'dellipack',
            },
            {
                href: './product-card-dellipack-rooibush-orange.html',
                string1: ['Ройбуш Апельсин'],
                string2: ['травяной чай'],
                img: '../img/content/dellipack-rooibush-orange.webp',
                'img-anim': '../img/content/dellipack-rooibush-orange-animate.webp',
                alt: 'Ройбуш апельсин',
                classCard: 'dellipack',
            },
            {
                href: './product-card-dellipack-assorti.html',
                string1: ['Ассорти'],
                string2: ['пять вкусов чая'],
                img: '../img/content/dellipack-assorti.webp',
                'img-anim': '../img/content/dellipack-assorti-animate.webp',
                alt: 'Ассорти',
                classCard: 'dellipack',
            },
            {
                href: './product-card-dellipack-english-breakfast.html',
                string1: ['Английский Завтрак'],
                string2: ['черный чай'],
                img: '../img/content/dellipack-english-breakfast.webp',
                'img-anim': '../img/content/dellipack-english-breakfast-animate.webp',
                alt: 'Английский завтрак',
                classCard: 'dellipack',
            },
            {
                href: './product-card-dellipack-red-meadow.html',
                string1: ['Красная Поляна'],
                string2: ['зеленый чай'],
                img: '../img/content/dellipack-red-meadow.webp',
                'img-anim': '../img/content/dellipack-red-meadow-animate.webp',
                alt: 'Красная поляна',
                classCard: 'dellipack',
            },
            {
                href: './product-card-dellipack-milk-oolong.html',
                string1: ['Молочный Улун'],
                string2: ['зеленый чай'],
                img: '../img/content/dellipack-milk-oolong.webp',
                'img-anim': '../img/content/dellipack-milk-oolong-animate.webp',
                alt: 'Молочный Улун',
                classCard: 'dellipack',
            },
        ];

- 
    let dataCardsHoreca = [
            {
                href: './product-card-dellipack-horeka-milk-oolong.html', 
                string1: ['Молочный Улун'],
                string2: ['зеленый чай'],
                img: '../img/content/dellipack-horeka-milk-oolong.webp',
                'img-anim': '../img/content/dellipack-milk-oolong-animate.webp',
                alt: 'Молочный Улун зеленый чай',
                classCard: 'dellipack',
                classItem: 'dellipack-horeka-milk-oolong',
            },
            {
                href: './product-card-dellipack-horeka-earl-grey.html',
                string1: ['Эрл Грей'],
                string2: ['черный чай'],
                img: '../img/content/dellipack-horeka-earl-greay.webp',
                'img-anim': '../img/content/dellipack-horeka-earl-grey-animate.webp',
                alt: 'Эрл Грей черный чай', 
                classCard: 'dellipack',
                classItem: 'dellipack-horeka-earl-grey',
            },
            {
                href: './product-card-dellipack-horeka-green-fusion.html',
                string1: ['Грин Фьюжн'],
                string2: ['зеленый чай'],
                img: '../img/content/dellipack-horeka-green-fusion.webp',
                'img-anim': '../img/content/dellipack-horeka-green-fusion-animate.webp',
                alt: 'Грин Фьюжн зеленый чай',
                classCard: 'dellipack',
                classItem: 'dellipack-horeka-green-fusion',
            },
            {
                href: './product-card-dellipack-horeka-jasmine-oriental.html',
                string1: ['Жасмин Ориентал'],
                string2: ['зеленый чай'],
                img: '../img/content/dellipack-horeka-jasmine-oriental.webp',
                'img-anim': '../img/content/dellipack-horeka-green-fusion-animate.webp',
                alt: 'Жасмин Ориентал зеленый чай',
                classCard: 'dellipack',
                classItem: 'dellipack-horeka-jasmine-oriental',
            },
            {
                href: './product-card-dellipack-horeka-strawberry-dessert.html',
                string1: ['Клубничный Десерт'],
                string2: ['травяной чай'],
                img: '../img/content/dellipack-horeka-strawberry-dessert.webp',
                'img-anim': '../img/content/dellipack-horeka-strawberry-dessert-animate.webp',
                alt: 'Клубничный Десерт травяной чай',
                classCard: 'dellipack',
                classItem: 'dellipack-horeka-strawberry-dessert',
            },
        ];
        
- let classPage = 'dellipack';
- let needTitleCard = true;
- let titleCards = ['Пакетированный чай на чашку'];

-
    let breadcrumbs = [
        {name: 'Главная', url: './index.html'},
        {name: 'Каталог', url: './catalog.html'},
        {name: 'Пакетированный чай на чашку', url: './catalog-dellipack-per-cup.html'}
    ];

doctype html  
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        include ./modules/favicon
        include ./modules/analytics.pug
        title Пакетированный чай на чашку
    body(data-variant='catalog')
        include ./modules/header.pug

        main.main
            include ./modules/bread-crumbs

            .catalog__tea-pack
                +cards(dataCards, needTitleCard, titleCards)

            .catalog__tea-pack                
                +cards(dataCardsHoreca, true, ['Для индустрии гостеприимства'])
                

        include ./modules/footer
