include mixines/catalog-packs-cards

- 
    let dataCards = [
            {
                href: './catalog-pyramid.html',
                string1: ['Порционный чай в', 'пирамидках'],
                string2: [''],
                img: '../img/content/pyramid-earl-grey.webp',
                'img-anim': '../img/content/pyramid-earl-grey-animation.webp',
                alt: 'Порционный чай в пирамидках',
                classCard: 'pyramid',
            },
            {
                href: './catalog-dellipack-per-cup.html',
                string1: ['Пакетированный', 'чай на чашку'],
                string2: [''],
                img: '../img/content/dellipack-milk-oolong.webp',
                'img-anim': '../img/content/dellipack-milk-oolong-animate.webp',
                alt: 'Пакетированный чай на чашку',
                classCard: 'dellipack',
            },
            {
                href: './catalog-dellipack-per-tea-pot.html',
                string1: ['Пакетированный', 'чай на чайник'],
                string2: [''],
                img: '../img/content/dellipack-tea-pot-milk-oolong.webp',
                'img-anim': '../img/content/dellipack-tea-pot-milk-oolong-animation.webp',
                alt: 'Пакетированный чай на чайник',
                classCard: 'tea-pot',
            },
            {
                href: './catalog-leaf-basic.html',
                string1: ['Листовой чай','Базовая линейка'],
                string2: [''],
                img: '../img/content/leaf-altai-herbal-mix-2.webp',
                'img-anim': '../img/content/leaf-yellow-animation.webp',
                alt: 'Листовой чай Базовая линейка',
                classCard: 'leaf',
            },
            {
                href: './catalog-top-selection.html',
                string1: ['Листовой чай', 'TOP SELECTION'],
                string2: [''],
                img: '../img/content/top-selection-meadow-sweet-powder.webp',
                'img-anim': '../img/content/top-selection-meadow-sweet-powder-animation.webp',
                alt: 'Листовой чай TOP SELECTION',
                classCard: 'top-selection',
            },
            {
                href: './in-development.html',
                string1: ['Аксессуары'],
                string2: [''],
                img: '../img/content/accessories-tea-pot.webp',
                'img-anim': '../img/content/accessories-tea-pot-animate.webp',
                alt: 'Аксессуары',
                classCard: 'accessories',
            },
        ];
        
- let classPage = 'catalog';
- let needTitleCard = false; 



-
    let breadcrumbs = [
        {name: 'Главная', url: './index.html'},
        {name: 'Каталог', url: './catalog.html'},
    ]

doctype html
html(lang='ru')
    head
        include ./modules/analytics.pug
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        include ./modules/favicon
        title Каталог
    body(data-variant='catalog')

        include ./modules/header.pug

        main.main 

            include ./modules/bread-crumbs 

            .catalog__wr-description 
                .catalog__description.catalog__description-read-more
                    h1.catalog__title Каталог
                    .catalog__wr-text  
                        p Яркая коллекция чая Niktea собрала в себе широкий ассортимент вкусов в любом удобном формате: листовой, пакетированный на чашку и на чайник, чай в пирамидках.
                        p  Для Horeca идеально подойдет порционный на чайник или в пирамидках, а также листовой чай из коллекции Niktea Basic и Niktea Top Selection. В дополнение к чаю в нашем ассортименте можно подобрать посуду и чайные аксессуары (чайники, чашки, сита, держатели, шоубоксы и другое).
                        p Для заваривания чая дома рекомендуем Niktea в пакетиках и в пирамидках. За счет того, что чая в них больше, чем в стандартных пакетиках - вы получаете более насыщенный вкус и яркий аромат. Листовой чай пользуется большой популярность у кафе, ресторанов, кофеен и любителей чая высокого качества, тех, кто ценит крупнолистовой чай за его многогранный аромат и неповторимый вкус.
                        p Линейка Niktea Basic — это классические вкусы от традиционного индийского чая Ассам до зеленого чая со свежим ароматом цитрусов и сладостью липового меда. В Niktea Basic даже базовые чаи подобраны так, чтобы удивлять своим богатым вкусом и насыщенным ароматом.
                        p Линейка Top Selection для кафе, ресторанов и отелей — это изысканная коллекция отборных чаев из разных стран. Если вы хотите расширить свой вкусовой опыт или удивить ваших гостей чем-то необычным - эта коллекция точно для вас! Гран Крю чаи: Габа, Те Гуань Инь, Да Хун Пао, Дянь Хун; необычные варианты Алтайских сборов, а также так полюбившиеся многим Ку Цао (гречишный) и Анчан (синий) чай. И множество цветов и трав (лаванда, саган-дайля, иван-чай, чабрец). С таким разнообразием вы порадуете своих гостей необычным широким выбором горячих напитков и сделаете ваше заведение точкой притяжения новых клиентов.

                    .catalog__read-more Читать дальше

            .catalog__wr-cards
                +cards(dataCards, needTitleCard)

            
            .catalog__slider-container_desctop 
                .tea-sl__wrapper.tea-sl__wrapper-catalog
                    .tea-sl__wr-button.tea-sl__wr-button-prev
                        .tea-sl__button.tea-sl__button-prev
                            svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' fill='none')
                                path(d='M44.5733 21.4073C44.0822 21.4073 43.599 21.5992 43.2372 21.9611L26.5341 38.6621C26.1797 39.0165 25.9804 39.4962 25.9804 39.9983C25.9804 40.5003 26.1797 40.98 26.5341 41.3344L43.2372 58.0394C43.78 58.5822 44.5917 58.7368 45.2965 58.449C46.0014 58.1572 46.4627 57.4673 46.4627 56.7033L46.4627 23.2972C46.4627 22.5332 46.0034 21.8428 45.2965 21.5515C45.0624 21.455 44.8169 21.4073 44.5733 21.4073Z' fill='white')
                                path(d='M40.0003 1.06821e-06C17.9437 -2.78827e-06 0.000499132 17.9413 0.000495275 39.9983C0.000491419 62.0553 17.9437 80 40.0002 80C62.0567 80 80 62.0548 80 39.9983C80 17.9418 62.0573 4.92478e-06 40.0003 1.06821e-06ZM40.0002 76.2208C20.0289 76.2208 3.77972 59.97 3.77972 39.9983C3.77973 20.0265 20.029 3.77972 40.0003 3.77972C59.9715 3.77972 76.2208 20.027 76.2208 39.9983C76.2208 59.9696 59.972 76.2208 40.0002 76.2208Z' fill='white')
  
                    .tea-sl__wr-slides 
                        ul.tea-sl__wr-slide-list 
                            li.tea-sl__slide-item 
                                img.tea-sl__image(src='../img/content/pyramid-siberian-berries.webp')
                                a(class="tea-sl__link" href="./product-card-pyramid-siberian-berries.html" title="siberian-berries")
                            li.tea-sl__slide-item
                                img.tea-sl__image(src='../img/content/pyramid-ginger-tropic.webp')
                                a(class="tea-sl__link" href="./product-card-pyramid-ginger-tropic.html" title="ginger-tropic")
                            li.tea-sl__slide-item
                                img.tea-sl__image(src='../img/content/pyramid-strawberry-pana-cotta.webp')
                                a(class="tea-sl__link" href="./product-card-pyramid-strawberry-panna-cotta.html" title="strawberry-pana-cotta")
                            li.tea-sl__slide-item
                                img.tea-sl__image(src='../img/content/pyramid-green-wind.webp')
                                a(class="tea-sl__link" href="./product-card-pyramid-green-wind.html" title="green-wind")
                            li.tea-sl__slide-item
                                img.tea-sl__image(src='../img/content/pyramid-forest-meditation.webp')
                                a(class="tea-sl__link" href="./product-card-pyramid-forest-meditation.html" title="forest-meditation")
                            li.tea-sl__slide-item
                                img.tea-sl__image(src='../img/content/pyramid-milk-oolong.webp')
                                a(class="tea-sl__link" href="./product-card-pyramid-milk-oolong.html" title="milk-oolong")
                            li.tea-sl__slide-item
                                img.tea-sl__image(src='../img/content/pyramid-russian-breakfast.webp')
                                a(class="tea-sl__link" href="./product-card-pyramid-russian-breakfast.html" title="russian-breakfast")
                            li.tea-sl__slide-item
                                img.tea-sl__image(src='../img/content/pyramid-earl-grey.webp')
                                a(class="tea-sl__link" href="./product-card-pyramid-earl-grey.html" title="earl-grey")

                    .tea-sl__wr-button.tea-sl__wr-button-next
                        .tea-sl__button.tea-sl__button-next
                            svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' fill='none')
                                path(d='M35.4271 58.5922C35.9182 58.5922 36.4014 58.4004 36.7632 58.0385L53.4663 41.3374C53.8207 40.983 54.02 40.5033 54.02 40.0013C54.02 39.4993 53.8207 39.0196 53.4663 38.6652L36.7632 21.9601C36.2204 21.4173 35.4087 21.2627 34.7039 21.5506C33.999 21.8423 33.5377 22.5323 33.5377 23.2963V56.7024C33.5377 57.4664 33.997 58.1568 34.7039 58.4481C34.938 58.5445 35.1835 58.5922 35.4271 58.5922Z' fill='white')
                                path(d='M40.0002 80C62.0568 80 80 62.0587 80 40.0017C80 17.9447 62.0568 0 40.0002 0C17.9437 0 0.000495911 17.9452 0.000495911 40.0017C0.000495911 62.0582 17.9432 80 40.0002 80ZM40.0002 3.77923C59.9715 3.77923 76.2208 20.0299 76.2208 40.0017C76.2208 59.9735 59.9715 76.2203 40.0002 76.2203C20.029 76.2203 3.77972 59.973 3.77972 40.0017C3.77972 20.0304 20.0285 3.77923 40.0002 3.77923Z' fill='white')
            
            
            .catalog__slider--container_mobile.swiper__wr-tea-sl_mobile
                // Swiper
                .swiper.tea-sl-swiper_mobile
                    .swiper-wrapper
                        .swiper-slide.tea-sl-m__slide
                            img.tea-sl-m__slide-img(src='../img/content/pyramid-siberian-berries.webp')
                        .swiper-slide.tea-sl-m__slide
                            img.tea-sl-m__slide-img(src='../img/content/pyramid-ginger-tropic.webp')
                        .swiper-slide.tea-sl-m__slide
                            img.tea-sl-m__slide-img(src='../img/content/pyramid-strawberry-pana-cotta.webp')
                        .swiper-slide.tea-sl-m__slide
                            img.tea-sl-m__slide-img(src='../img/content/pyramid-green-wind.webp')
                        .swiper-slide.tea-sl-m__slide
                            img.tea-sl-m__slide-img(src='../img/content/pyramid-forest-meditation.webp')
                        .swiper-slide.tea-sl-m__slide
                            img.tea-sl-m__slide-img(src='../img/content/pyramid-milk-oolong.webp')
                        .swiper-slide.tea-sl-m__slide
                            img.tea-sl-m__slide-img(src='../img/content/pyramid-russian-breakfast.webp')
                        .swiper-slide.tea-sl-m__slide
                            img.tea-sl-m__slide-img(src='../img/content/pyramid-earl-grey.webp')

        include ./modules/footer
