- 
    let dataCards = [
            {
                href: './product-card-dellipack-earl-grey.html', 
                string1: ['Эрл Грей', Ультрамарин],
                string2: ['черный чай'],
                img: '../img/content/dellipack-earl-grey-ultramarine.webp',
                'img-anim': '../img/content/dellipack-earl-grey-ultramarine-animate.webp',
                alt: 'Эрл Грей Ультрамарин',
                classCard: 'dellipack',
            },
            {
                href: './product-card-dellipack-jasmine-emerald.html',
                string1: ['Жасмин изумруд'],
                string2: ['зеленый чай'],
                img: '../img/content/dellipack-jasmine-emerald.webp',
                'img-anim': '../img/content/dellipack-jasmine-emerald-animate.webp',
                alt: 'Жасмин изумруд',
                classCard: 'dellipack',
            },
            {
                href: './product-card-dellipack-mountain-thyme.html',
                string1: ['Горный чабрец'],
                string2: ['зеленый чай'],
                img: '../img/content/dellipack-mountain-thyme.webp',
                'img-anim': '../img/content/dellipack-mountain-thyme-animate.webp',
                alt: 'Горный чабрец',
                classCard: 'dellipack',
            },
            {
                href: './product-card-dellipack-oriental-bloom.html',
                string1: ['Ориентал Блум'],
                string2: ['зеленый чай'],
                img: '../img/content/dellipack-oriental-bloom.webp',
                'img-anim': '../img/content/dellipack-oriental-bloom-animate.webp',
                alt: 'Ориентал Блум',
                classCard: 'dellipack',
            },
            {
                href: './product-card-dellipack-fruit-magenta.html',
                string1: ['Фрут Маджента'],
                string2: ['фруктовый чай'],
                img: '../img/content/dellipack-fruit-magenta.webp',
                'img-anim': '../img/content/dellipack-fruit-magenta-animate.webp',
                alt: 'Фрут Маджента',
                classCard: 'dellipack',
            },
            {
                href: './product-card-dellipack-kenya-sapphire.html',
                string1: ['Кения Сапфир'],
                string2: ['черный чай'],
                img: '../img/content/dellipack-kenya-sapphire.webp',
                'img-anim': '../img/content/dellipack-kenya-sapphire-animate.webp',
                alt: 'Кения Сапфир',
                classCard: 'dellipack',
            },
            {
                href: './product-card-dellipack-rooibush-orange.html',
                string1: ['Ройбуш апельсин'],
                string2: ['травяной чай'],
                img: '../img/content/dellipack-rooibush-orange.webp',
                'img-anim': '../img/content/dellipack-rooibush-orange-animate.webp',
                alt: 'Ройбуш апельсин',
                classCard: 'dellipack',
            },
            {
                href: './product-card-dellipack-assorti.html',
                string1: ['Ассорти'],
                string2: ['пять вкусов'],
                img: '../img/content/dellipack-assorti.webp',
                'img-anim': '../img/content/dellipack-assorti-animate.webp',
                alt: 'Ассорти',
                classCard: 'dellipack',
            },
            {
                href: './product-card-dellipack-english-breakfast.html',
                string1: ['Английский завтрак'],
                string2: ['черный чай'],
                img: '../img/content/dellipack-english-breakfast.webp',
                'img-anim': '../img/content/dellipack-english-breakfast-animate.webp',
                alt: 'Английский завтрак',
                classCard: 'dellipack',
            },
            {
                href: './product-card-dellipack-red-meadow.html',
                string1: ['Красная поляна'],
                string2: ['зеленый чай'],
                img: '../img/content/dellipack-red-meadow.webp',
                'img-anim': '../img/content/dellipack-red-meadow-animate.webp',
                alt: 'Красная поляна',
                classCard: 'dellipack',
            },
            {
                href: './product-card-dellipack-milk-oolong.html',
                string1: ['Молочный Улун'],
                string2: ['зеленый чай'],
                img: '../img/content/dellipack-milk-oolong.webp',
                'img-anim': '../img/content/dellipack-milk-oolong-animate.webp',
                alt: 'Молочный Улун',
                classCard: 'dellipack',
            },
        ];
        
- let classPage = 'dellipack';
- let needTitleCard = true;
- let titleCards = ['Пакетированный чай на чашку'];

-
    let breadcrumbs = [
        {name: 'Главная', url: './index.html'},
        {name: 'Каталог', url: './catalog.html'},
        {name: 'Пакетированный чай на чашку', url: './catalog-dellipack-per-cup.html'}
    ];

doctype html 
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        include ./modules/favicon
        title Пакетированный чай на чашку
    body(data-variant='catalog')
        include ./modules/header.pug

        main.main
            include ./modules/bread-crumbs

            .catalog__tea-pack    
                include ./modules/catalog-packs-cards
                

        include ./modules/footer
