include mixines/catalog-packs-cards

- 
    let dataCards = [
            {
                href: './product-card-pyramid-earl-grey.html',
                string1: ['Эрл Грей'],
                string2: ['черный чай'],
                img: '../img/content/pyramid-earl-grey.webp',
                'img-anim': '../img/content/pyramid-earl-grey-animation.webp',
                alt: 'Эрл Грей',
                classCard: 'pyramid',
            },
            {
                href: './product-card-pyramid-green-wind.html',
                string1: ['Зеленый ветер'],
                string2: ['зеленый чай'],
                img: '../img/content/pyramid-green-wind.webp',
                'img-anim': '../img/content/pyramid-greenWind-animation.webp',
                alt: 'Зеленый ветер',
                classCard: 'pyramid',
            },
            {
                href: './product-card-pyramid-ginger-tropic.html',
                string1: ['Имбирный тропик'],
                string2: ['зеленый чай'],
                img: '../img/content/pyramid-ginger-tropic.webp',
                'img-anim': '../img/content/pyramid-gigger-tropic-animation.webp',
                alt: 'Имбирный тропик',
                classCard: 'pyramid',
            },
            {
                href: './product-card-pyramid-strawberry-panna-cotta.html',
                string1: ['Клубничная','Панна-Котта'],
                string2: ['травяной чай'],
                img: '../img/content/pyramid-strawberry-pana-cotta.webp',
                'img-anim': '../img/content/pyramid-strawberry-pana-cotta-animation.webp',
                alt: 'Клубничная Панна-Котта',
                classCard: 'pyramid',
            },
            {  
                href: './product-card-pyramid-forest-meditation.html',
                string1: ['Лесная медитация'],
                string2: ['травяной чай'],
                img: '../img/content/pyramid-forest-meditation.webp',
                'img-anim': '../img/content/pyramid-forest-meditaiton-animation.webp',
                alt: 'Лесная медитация',
                classCard: 'pyramid',
            },
            {
                href: './product-card-pyramid-milk-oolong.html',
                string1: ['Молочный улун'],
                string2: ['зеленый чай'],
                img: '../img/content/pyramid-milk-oolong.webp',
                'img-anim': '../img/content/pyramid-milk-oolong-anim.webp',
                alt: 'Молочный улун',
                classCard: 'pyramid',
            },
            {
                href: './product-card-pyramid-siberian-berries.html',
                string1: ['Сибирский сбор'],
                string2: ['черный чай'],
                img: '../img/content/pyramid-siberian-berries.webp',
                'img-anim': '../img/content/pyramid-siberian-berries-animation.webp',
                alt: 'Сибирский сбор',
                classCard: 'pyramid',
            },
            {
                href: './product-card-pyramid-russian-breakfast.html',
                string1: ['Русский завтрак'],
                string2: ['черный чай'],
                img: '../img/content/pyramid-russian-breakfast.webp',
                'img-anim': '../img/content/pyramid-russian-breakfast-anim.webp',
                alt: 'Русский завтрак',
                classCard: 'pyramid',
            },
        ];
        
- let classPage = 'pyramid';
- let needTitleCard = true;
- let titleCards = ['Порционный чай в пирамидках'];

-
    let breadcrumbs = [
        {name: 'Главная', url: './index.html'},
        {name: 'Каталог', url: './catalog.html'},
        {name: 'Порционный чай в пирамидках', url: './catalog-pyramid.html'}
    ]

doctype html
html(lang='ru')
    head
        include ./modules/analytics.pug
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        include ./modules/favicon
        title Порционный чай в пирамидках
    body(data-variant='catalog')
        include ./modules/header.pug

        main.main
            include ./modules/bread-crumbs

            .catalog__tea-pack    
                +cards(dataCards, needTitleCard, titleCards)
                

        include ./modules/footer
