-
    let breadcrumbs = [
        {name: 'Главная', url: './index.html'},
        {name: 'Контакты', url: './contacts.html'},
    ]

doctype html
html(lang='ru')
    head 
        include ./modules/analytics.pug
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        include ./modules/favicon
        title Контакты
    body(data-variant='contacts')
        
        include ./modules/header.pug

        main.main.contacts__main

            include ./modules/bread-crumbs
            
            .contacts
                .catalog__container
                    .cards__container
                        .contacts__wr-cards-address
                            .contacts-flover--left.contacts-flover--left_desctop
                                        img.contacts-flover--left-img(src='../img/icons/cont-tea-left.png' alt='' )
                            .card--container.card--container_desctop
                                .contacts__card.card--container--left(data-type="desctop")
                                    
                                    .contacts__card--back
                                    h1 Чай для бизнеса
                                    .contacts__card-wr-text
                                        p.contacts__card--text 
                                            | Адрес: 
                                            br
                                            |                 ООО «Алеф Трейд МСК» 123007, Россия,
                                            br
                                            |                 город Москва, Хорошевское шоссе, д. 32 А, офис 301
                                            br
                                            |                 Время работы: 09:00 - 18:00, по рабочим дням.
                                            br
                                        .phone__wrap
                                            span Телефон:
                                            a(href='tel:+74991369631')
                                                br
                                                | 8 (499) 136-9-631
                                    .buttons__row
                                        a.contatcts__buton(href='https://alephtrade.ru/') ПЕРЕЙТИ НА САЙТ

                                        button.contatcts__buton.contatcts__buton--round
                                            .contacts__wr-icon-button-callback
                                                <svg class="contacts__icon-button-callback" class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70" fill="none">
                                                    <path d="M24.1543 27.9233L35.3081 35.731L46.462 27.9233" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M13 45.7692V23.4615C13 20.9975 14.9975 19 17.4615 19H53.1538C55.618 19 57.6154 20.9975 57.6154 23.4615V45.7692C57.6154 48.2333 55.618 50.2308 53.1538 50.2308H17.4615C14.9975 50.2308 13 48.2333 13 45.7692Z" stroke="white" stroke-width="3"/>
                                                </svg>
                                            //- img(src='../img/icons/convert.svg' alt='')
                                    .contacts__card--form
                                        .close-form
                                            img.close-form-icon(src='../img/icons/close-white.svg' alt='')
                                        form#user-data.reg__group.needs-validation(novalidate='')
                                            .form-grid
                                                // //
                                                .card2
                                                    .input__section.has-validation
                                                        label.reg-label(for='firstName') Ваше имя
                                                        input#firstName.registry__input--field.form-control(type='text' name='name' placeholder='Имя')
                                                        .invalid-feedback
                                                    .input__section
                                                        label.reg-label(for='fathersName') Ваш телефон
                                                        input#phone.registry__input--field.form-control(type='text' name='phone' data-phone-pattern='' placeholder='+7 (___) ___-__-__' required='')
                                                        .invalid-feedback
                                                    .input__section
                                                        label.reg-label(for='email') Ваша электронная почта
                                                        input#email.registry__input--field.form-control(type='text' name='email' placeholder='email' required='')
                                                        .invalid-feedback
                                                    .input__section
                                                        label.reg-label(for='city') Ваш город
                                                        input#city.registry__input--field.select--city.form-control(type='text' name='city' placeholder="Укажите город" required)
                                                            //- option(value='' disabled='' selected='' hidden='') Укажите
                                                            //- option(value='Moscow') Москва
                                                            //- option(value='Vlladimir') Владимир
                                                            //- option(value='Suzdal') Суздаль
                                                            //- option(value='Perm') Пермь
                                                        .invalid-feedback
                                                // //
                                                .input__section.input__section--text.card3
                                                    textarea#text.registry__input--field.registry__input--text.form-control(type='text' name='text') Текст
                                                    .invalid-feedback
                                                .button-w.card4
                                                    button.button--submit(type="button") ОТПРАВИТЬ
                                                // //
                                                .card1
                                                    .form-check
                                                        input#invalidCheck.form-check-input(type='checkbox' name="checkpolicy" value='' required='')
                                                        label.form-check-label(for='invalidCheck')
                                                            p
                                                                | Я согласен на обработку персональных данных и с публичной офертой

                                    .contacts__wr-form-sended-desc 
                                        .contacts__wr-form-sended-content
                                            .contacts__wr-form-sended-close
                                                .contacts__form-sended-close-icon 
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" fill="none">
                                                        <path d="M1.76465 1.76465L26.7214 26.7214" stroke="white" stroke-width="3" stroke-linecap="round"/>
                                                        <path d="M26.4705 1.76465L1.76465 26.4705" stroke="white" stroke-width="3" stroke-linecap="round"/>
                                                    </svg>
                                            .contacts__wr-form-sended-icon 
                                                .contacts__form-sended-icon
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130 130" fill="none">
                                                        <g clip-path="url(#clip0_2391_3844)">
                                                            <path d="M65 130C29.1015 130 0 100.899 0 65C0 29.1015 29.1015 0 65 0C100.899 0 130 29.1015 130 65C130 100.899 100.899 130 65 130ZM65 123.5C97.3087 123.5 123.5 97.3087 123.5 65C123.5 32.6913 97.3087 6.5 65 6.5C32.6913 6.5 6.5 32.6913 6.5 65C6.5 97.3087 32.6913 123.5 65 123.5ZM85.4519 46.4519C86.7211 45.1827 88.7789 45.1827 90.0481 46.4519C91.3173 47.7211 91.3173 49.7789 90.0481 51.0481L57.5481 83.5481C56.2789 84.8173 54.2211 84.8173 52.9519 83.5481L39.9519 70.5481C38.6827 69.2789 38.6827 67.2211 39.9519 65.9519C41.2211 64.6827 43.2789 64.6827 44.5481 65.9519L55.25 76.6538L85.4519 46.4519Z" fill="white"/>
                                                        </g>
                                                        <defs>
                                                            <clipPath id="clip0_2391_3844">
                                                                <rect width="130" height="130" fill="white"/>
                                                            </clipPath>
                                                        </defs>
                                                    </svg>

                                            .contacts__wr-form-sended-text 
                                                span Ваша заявка успешно
                                                span отправлена
                                            .contacts__wr-form-sended-start.contacts__wr-form-sended-start-1 
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34 36" fill="none">
                                                    <path d="M0 18.035C9.37476 18.035 17.033 9.99612 17.033 0C17.033 9.99612 24.6252 18.035 34 18.035C24.6252 18.035 17.033 26.0738 17.033 36C17.033 26.0738 9.37476 18.035 0 18.035Z" fill="#FEFEFE"/>
                                                </svg>
                                            .contacts__wr-form-sended-start.contacts__wr-form-sended-start-2
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34 36" fill="none">
                                                    <path d="M0 18.035C9.37476 18.035 17.033 9.99612 17.033 0C17.033 9.99612 24.6252 18.035 34 18.035C24.6252 18.035 17.033 26.0738 17.033 36C17.033 26.0738 9.37476 18.035 0 18.035Z" fill="#FEFEFE"/>
                                                </svg>
                                            .contacts__wr-form-sended-start.contacts__wr-form-sended-start-3
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34 36" fill="none">
                                                    <path d="M0 18.035C9.37476 18.035 17.033 9.99612 17.033 0C17.033 9.99612 24.6252 18.035 34 18.035C24.6252 18.035 17.033 26.0738 17.033 36C17.033 26.0738 9.37476 18.035 0 18.035Z" fill="#FEFEFE"/>
                                                </svg>

                            .card--container.card--container_desctop
                                .contacts__card.contacts__card--business
                                    .contacts-flover--right

                                    .contacts__card--back
                                    h1 Чай для дома
                                    .contacts__card-wr-text
                                        p.contacts__card--text
                                            | Адрес:
                                            br
                                            |                 Интернет-магазин Оазис: 123007, Россия, город Москва,
                                            br
                                            |                 Хорошевское шоссе, д. 32, корп. А, подъезд 2, офис 109.
                                            br
                                            |                 Время работы: 10:00 - 19:00, по рабочим дням.
                                            br
                                        .phone__wrap
                                            span Телефон:
                                            a(href='tel:+74997896727')
                                                br
                                                | 8 (499) 789-67-27
                                    .buttons__row
                                        a.contatcts__buton(href='https://oasis-msk.ru/') ПЕРЕЙТИ НА САЙТ

                            ul.contacts__cards-address-list_mobile(data-type="mobile")
                                li.contacts__wr-card-address-item.contacts__wr-card-address-item_left.contacts__wr-card-address-item_active(data-type="left")
                                    .contacts-flover--left.contacts-flover--left_mobile
                                        img.contacts-flover--left-img(src='../img/icons/cont-tea-left.png' alt='' )
                                    
                                    header.contacts__wr-card-address-header 
                                            .contacts__wr-card-address-title.contacts__wr-card-address-title_active
                                                h2 Чай для бизнеса
                                            .contacts__wr-card-address-title(data-open='right')
                                                h2 Чай для дома

                                    .contacts__wr-card-address-text 
                                        p 
                                            span Адрес:
                                            span ООО «Алеф Трейд МСК»123007,
                                            span Россия, город Москва, Хорошевское
                                            span шоссе, д. 32 А, офис 301

                                        p
                                            span Время работы: 09:00 - 18:00,
                                            span по рабочим дням.

                                        p 
                                            span Телефон:
                                            a.contacts__card-address-tel-link(href="tel:+74991369631") 8 (499) 136-9-631
                                    
                                    .contacts__wr-card-buttons
                                        .contacts__wr-link-address-redirect
                                            a.contacts__link(href='https://alephtrade.ru/') ПЕРЕЙТИ НА САЙТ

                                        .contacts__button-callback
                                            .contacts__wr-icon-button-callback(data-open="form")
                                                <svg class="contacts__icon-button-callback" class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70" fill="none">
                                                    <path d="M24.1543 27.9233L35.3081 35.731L46.462 27.9233" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M13 45.7692V23.4615C13 20.9975 14.9975 19 17.4615 19H53.1538C55.618 19 57.6154 20.9975 57.6154 23.4615V45.7692C57.6154 48.2333 55.618 50.2308 53.1538 50.2308H17.4615C14.9975 50.2308 13 48.2333 13 45.7692Z" stroke="white" stroke-width="3"/>
                                                </svg>

                                        
                                    
                                li.contacts__wr-card-address-item.contacts__wr-card-address-item_right(data-type="right")
                                    .contacts__wr-card-address-header 
                                        .contacts__wr-card-address-title(data-open="left")
                                            h2 Чай для бизнеса
                                        .contacts__wr-card-address-title.contacts__wr-card-address-title_active
                                            h2 Чай для дома
                                    
                                    .contacts__wr-card-address-text 
                                        p 
                                            span Адрес:
                                            span ООО «Алеф Трейд МСК»123007,
                                            span Россия, город Москва, Хорошевское
                                            span шоссе, д. 32 А, офис 301

                                        p
                                            span Время работы: 09:00 - 18:00,
                                            span по рабочим дням.

                                        p 
                                            span Телефон:
                                            a.contacts__card-address-tel-link(href="tel:+74957896727") 8 (495) 789-67-27

                                    .contacts__wr-card-buttons
                                        .contacts__wr-link-address-redirect.contacts__wr-link-address-redirect_right-card
                                            a.contacts__link.contacts__link_right-card(href='https://oasis-msk.ru/') ПЕРЕЙТИ НА САЙТ

                                    .contacts-flover--right.contacts-flover--right_mobile

                                li.contacts__wr-card-address-item.contacts__wr-card-address-item-form(data-type='form')
                                    .contacts-flover--left.contacts-flover--left-form_mobile
                                        img.contacts-flover--left-img(src='../img/icons/cont-tea-left.png' alt='' )

                                    .contacts__wr-card-address-header 
                                        .contacts__wr-card-address-title(data-open="left")
                                            h2 Чай для бизнеса
                                        .contacts__wr-card-address-title(data-open="right")
                                            h2 Чай для дома


                                    .contacts__wr-card-address-form 
                                        .contacts__wr-card-address-form-close
                                            <svg class="contacts__wr-card-address-close-icon" data-open="left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 23" fill="none">
                                                <g clip-path="url(#clip0_2295_1339)">
                                                    <path d="M1.35352 1.35303L20.487 20.4865" stroke="white" stroke-width="3" stroke-linecap="round"/>
                                                    <path d="M20.2947 1.35303L1.35352 20.2942" stroke="white" stroke-width="3" stroke-linecap="round"/>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_2295_1339">
                                                        <rect width="23" height="23" fill="white"/>
                                                    </clipPath>
                                                </defs>
                                            </svg>

                                        form.contacts__card-address-form(name="contacts-callback")
                                            ul.contacts__wr-address-input-list
                                                li.contacts__wr-address-input-item
                                                    label.contacts__address-form-label(type="text" for="#contacts__address-form-name")
                                                        | Ваше имя
                                                    input#contacts__address-form-name.contacts__address-form-input(name="name" value="Имя")
                                                li.contacts__wr-address-input-item
                                                    label.contacts__address-form-label(type="text" for="#contacts__address-form-phone")
                                                        | Ваш телефон
                                                    input#contacts__address-form-phone.contacts__address-form-input(name="phone" value="+7 (___) ___-__-__")
                                                li.contacts__wr-address-input-item
                                                    label.contacts__address-form-label(type="text" for="#contacts__address-form-mail")
                                                        | Ваша электронная почта
                                                    input#contacts__address-form-mail.contacts__address-form-input(name="email" value="e-mail")
                                                li.contacts__wr-address-input-item
                                                    label.contacts__address-form-label(type="text" for="#contacts__address-form-city")
                                                        | Ваш город
                                                    input#contacts__address-form-city.contacts__address-form-input(name="city" value="Укажите город")
                                            .contacts__wr-address-form-policy
                                                input#contacts__address-form-checkbox.contacts__address-form-checkbox(name="policy" type="checkbox")
                                                label.contacts__address-form-checkbox-label(type="text" for="contacts__address-form-checkbox")
                                                    | Я согласен на обработку персональных данных и с публичной офертой
                                            .contacts__wr-address-form-text
                                                textarea.contacts__address-form-text(name="text" rows="7") Текст
                                            .contacts__wr-address-button-submit
                                                button.contacts__address-button-submit(type="button" data-open="success")
                                                    span.contacts__address-button-submit_deco ОТПРАВИТЬ

                                li.contacts__wr-card-address-item.contacts__wr-card-address-item-sended(data-type="success")   
                                    .contacts-flover--left.contacts-flover--left-sended_mobile
                                        img.contacts-flover--left-img(src='../img/icons/cont-tea-left.png' alt='' )

                                    .contacts__wr-card-address-header 
                                        .contacts__wr-card-address-title(data-open="left")
                                            h2 Чай для бизнеса
                                        .contacts__wr-card-address-title(data-open="right")
                                            h2 Чай для дома    

                                    .contacts__wr-form-sended-content
                                            .contacts__wr-form-sended-close
                                                .contacts__form-sended-close-icon(data-open="left")
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" fill="none">
                                                        <path d="M1.76465 1.76465L26.7214 26.7214" stroke="white" stroke-width="3" stroke-linecap="round"/>
                                                        <path d="M26.4705 1.76465L1.76465 26.4705" stroke="white" stroke-width="3" stroke-linecap="round"/>
                                                    </svg>
                                            .contacts__wr-form-sended-icon 
                                                .contacts__form-sended-icon
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130 130" fill="none">
                                                        <g clip-path="url(#clip0_2391_3844)">
                                                            <path d="M65 130C29.1015 130 0 100.899 0 65C0 29.1015 29.1015 0 65 0C100.899 0 130 29.1015 130 65C130 100.899 100.899 130 65 130ZM65 123.5C97.3087 123.5 123.5 97.3087 123.5 65C123.5 32.6913 97.3087 6.5 65 6.5C32.6913 6.5 6.5 32.6913 6.5 65C6.5 97.3087 32.6913 123.5 65 123.5ZM85.4519 46.4519C86.7211 45.1827 88.7789 45.1827 90.0481 46.4519C91.3173 47.7211 91.3173 49.7789 90.0481 51.0481L57.5481 83.5481C56.2789 84.8173 54.2211 84.8173 52.9519 83.5481L39.9519 70.5481C38.6827 69.2789 38.6827 67.2211 39.9519 65.9519C41.2211 64.6827 43.2789 64.6827 44.5481 65.9519L55.25 76.6538L85.4519 46.4519Z" fill="white"/>
                                                        </g>
                                                        <defs>
                                                            <clipPath id="clip0_2391_3844">
                                                                <rect width="130" height="130" fill="white"/>
                                                            </clipPath>
                                                        </defs>
                                                    </svg>

                                            .contacts__wr-form-sended-text 
                                                span Ваша заявка успешно
                                                span отправлена
                                            .contacts__wr-form-sended-start.contacts__wr-form-sended-start-1 
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34 36" fill="none">
                                                    <path d="M0 18.035C9.37476 18.035 17.033 9.99612 17.033 0C17.033 9.99612 24.6252 18.035 34 18.035C24.6252 18.035 17.033 26.0738 17.033 36C17.033 26.0738 9.37476 18.035 0 18.035Z" fill="#FEFEFE"/>
                                                </svg>
                                            .contacts__wr-form-sended-start.contacts__wr-form-sended-start-2
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34 36" fill="none">
                                                    <path d="M0 18.035C9.37476 18.035 17.033 9.99612 17.033 0C17.033 9.99612 24.6252 18.035 34 18.035C24.6252 18.035 17.033 26.0738 17.033 36C17.033 26.0738 9.37476 18.035 0 18.035Z" fill="#FEFEFE"/>
                                                </svg>
                                            .contacts__wr-form-sended-start.contacts__wr-form-sended-start-3
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34 36" fill="none">
                                                    <path d="M0 18.035C9.37476 18.035 17.033 9.99612 17.033 0C17.033 9.99612 24.6252 18.035 34 18.035C24.6252 18.035 17.033 26.0738 17.033 36C17.033 26.0738 9.37476 18.035 0 18.035Z" fill="#FEFEFE"/>
                                                </svg>  


                        .card--container.card--container-map
                            .contacts__card-map
                                .contacts__map-image
        include ./modules/footer
