doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        include ./modules/favicon
        title В разработке
    body.body__in-dev
        .wrapper-page.wrapper-page-in-dev 
            include ./modules/header 

            main.dev__main 
                .dev__wr-info_out 
                    .dev__wr-info_in 
                        .dev__info-text 
                            p 
                                span На сайте происходит обновление. 
                                span Скоро Вы сможете ознакомиться с разделом.

                        .dev__wr-info-button
                            a.button__link.dev__wr-info-button-link(href="./index.html") 
                                span ПЕРЕЙТИ НА ГЛАВНУЮ

                        .dev__fl-transp.dev__fl-transp_left
                        
                        .dev__flower.dev__fl-left84-1
                        .dev__flower.dev__fl-left84-2 
                        .dev__flower.dev__fl-left51

                        .dev__star.dev__fl-star-left
                        .dev__star.dev__fl-star-left_mobile

                        .dev__fl-transp.dev__fl-transp_right

                        .dev__flower.dev__fl-right81-1
                        .dev__flower.dev__fl-right81-2 
                        .dev__flower.dev__fl-right129
                        .dev__flower.dev__fl-right84 

                        
                        .dev__star.dev__fl-star-right_top-1
                        .dev__star.dev__fl-star-right_top-2
                        .dev__star.dev__fl-star-right_bottom-1 
                        .dev__star.dev__fl-star-right_bottom-2

                .dev__star.dev__m-star-1
                .dev__star.dev__m-star-2
                .dev__star.dev__m-star-3
                .dev__star.dev__m-star-4


            include ./modules/footer

