doctype html 
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        include ./modules/favicon
        include ./modules/analytics.pug
        title Главная
    body(data-variant='main-page')

        include ./modules/header-index

        .w-100.fl-row
            img.main__slider--fl-row(src='../img/icons/fl-row.svg' alt='')
        main.main
            .container-main
                section.animated__hero
                    h2.animated__hero-title_mobile О бренде
                    img.flowers-white(src='../img/icons/flovers-backround.png' alt='')
                    .animation__container
                        // <img class="animation__container--img" src="img/icons/tea-and-boxes.png" alt="">
                        img.animation__container--img(src='../img/icons/tea-and-boxes.webp' alt='')
                        // <img class="tmp__flo2" src="img/animation/flowers5.png" alt="" srcset="">
                        .yellow.ball.target.centered.animation__backstage
                        //
                            <div class="wrapper infinite centered slider">
                            <div class="red ball target revolver  infinite">
                            <img class="spinner" src="img/icons/ani-fl-1.png" alt="">
                            </div>
                            </div>
                            <div class="wrapper2 infinite centered slider2">
                            <div class="blue ball target revolver2 infinite">
                            <img class="spinner2" src="img/icons/ani-fl-2.png" alt="">
                            </div>
                            </div>
                    .about__text
                        // <div class="brand__text--block"></div>
                        h2 О бренде
                        .about__descr
                            p
                                | Niktea - идеальный чай на каждый день. Яркая коллекция Niktea представлена широкой палитрой вкусов в удобном формате: листовой, пакетированный на чашку и на чайник, чай в пирамидках.
                            p
                                | Чаи Niktea — это отборные чаи и оригинальные авторские купажи из чистого натурального чайного листа, трав и фруктов.
                            p
                                | Почувствуй чай - проNikнись разнообразием!

                            a.button__link.promo__button--wrap(href='./about-brand.html')
                                span УЗНАТЬ БОЛЬШЕ
                section.promo__container
                    .row.promo
                        .col-lg-6.col-sm-12.promo__card
                            .promo__card--innner--left
                                .head-wrap
                                    h2
                                        span Бренду Niktea
                                        span исполняется 15 лет!
                                .promo__card--text.promo__card--text_desctop
                                    p.gift__descr
                                        | В честь этой важной для нас даты мы устраиваем розыгрыш призов, среди которых: сертификат на путешествие мечты, Macbook Air, Sony PlayStation 5, iPhone 14 Pro, электросамокат Bork, фен Dyson и многое другое!
                                    .button-section
                                        a.button__link.promo__button--wrap(href='https://promo.nikteaworld.com/') 
                                            span УЗНАТЬ БОЛЬШЕ
                        .col-lg-6.col-sm-12.promo__card.promo__card-wr-banner
                            a.promo__card--innner(href='https://promo.nikteaworld.com/')
                                img.flower-p1(src='../img/content/flowers-priv@1,5x.png' alt='')
                                img.flower-p2(src='../img/content/flowers-priv@1,5x.png' alt='')
                                img.phones(src='../img/content/phones.png' alt='')
                                img.notebook(src='../img/content/note.png' alt='')
                                .promo__card--text
                                    img.promo__card--img(src='../img/content/promo-text.svg' alt='')
                                    img.promo__card--img_mobile(src='../img/content/promo-text_mobile.png' alt='')
                    .promo__card--text.promo__card--text_mobile
                        h3.promo__title-card--text_mobile Бренду Niktea исполняется 15 лет!
                        p.gift__descr
                            | В честь этой важной для нас даты мы устраиваем розыгрыш призов, среди которых: сертификат на путешествие мечты, Macbook Air, Sony PlayStation 5, iPhone 14 Pro, электросамокат Bork, фен Dyson и многое другое!
                        .button-section
                            a.button__link.promo__button--wrap(href='https://promo.nikteaworld.com/') 
                                span УЗНАТЬ БОЛЬШЕ
                section.recipes
                    .recepies
                        h2 Рецепты с чаем от Niktea
                        .cards
                            .card-container
                                .recept__card--back
                                .recept__card
                                    .recept__card--wr-img
                                        svg.recept__card--img(width='301' height='431' viewBox='0 0 301 431' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            circle(cx='200.5' cy='65.5' r='5.5' fill='white' fill-opacity='0.72')
                                            circle(cx='241' cy='55' r='9' fill='white' fill-opacity='0.72')
                                            circle(cx='165.5' cy='106.5' r='15.5' fill='white' fill-opacity='0.72')
                                            circle(cx='288.5' cy='5.5' r='5.5' fill='white' fill-opacity='0.72')
                                            circle(cx='228' cy='102' r='11' fill='white' fill-opacity='0.72')
                                            circle(cx='278' cy='46' r='11' fill='white' fill-opacity='0.72')
                                            path(d='M221.603 152.569V403.461C221.603 414.434 212.604 423.436 201.634 423.436H27.5041C16.5344 423.436 7.53503 414.434 7.53503 403.461V152.569H221.603Z' stroke='white' stroke-width='15' stroke-miterlimit='22.9256')
                                            path(d='M215.772 396.669H11.9548V417.577H215.772V396.669Z' fill='white')
                                            path(fill-rule='evenodd' clip-rule='evenodd' d='M59.7739 294.394C66.0043 294.394 71.0631 299.455 71.0631 305.687C71.0631 311.919 66.0043 316.98 59.7739 316.98C53.5436 316.98 48.4848 311.919 48.4848 305.687C48.4848 299.455 53.5436 294.394 59.7739 294.394ZM131.263 313.384C137.493 313.384 142.552 318.445 142.552 324.677C142.552 330.909 137.493 335.97 131.263 335.97C125.033 335.97 119.974 330.909 119.974 324.677C119.974 318.445 125.033 313.384 131.263 313.384ZM181.186 358.768C185.073 358.768 188.215 361.911 188.215 365.8C188.215 369.688 185.073 372.831 181.186 372.831C177.298 372.831 174.157 369.688 174.157 365.8C174.157 361.911 177.298 358.768 181.186 358.768ZM69.013 344.306C72.6074 344.306 75.5362 347.236 75.5362 350.832C75.5362 354.427 72.6074 357.357 69.013 357.357C65.4185 357.357 62.4897 354.427 62.4897 350.832C62.4897 347.236 65.3919 344.306 69.013 344.306ZM131.316 292.37C134.911 292.37 137.84 295.3 137.84 298.895C137.84 302.518 134.911 305.421 131.316 305.421C127.722 305.421 124.793 302.491 124.793 298.895C124.793 295.3 127.695 292.37 131.316 292.37ZM22.0458 216.996C59.9603 287.203 96.8099 271.489 137.6 254.949C161.802 242.405 184.514 230.446 205.388 249.756V388.785H22.0458C22.0458 331.522 22.0458 274.259 22.0458 216.996Z' fill='white')
                                            path(fill-rule='evenodd' clip-rule='evenodd' d='M226.555 222.59V203.413H283.667C290.776 204.425 294.929 208.66 295.648 216.597V336.45C296.021 345.239 291.947 350.699 282.469 352.03H227.354V332.454H276.877V222.59H226.555Z' fill='white')
                                            path(fill-rule='evenodd' clip-rule='evenodd' d='M124.367 41.1348C125.698 43.6384 126.098 43.5585 127.562 45.6093C131.556 51.0959 133.127 57.5679 132.781 64.253C131.822 82.7103 117.232 99.3832 115.421 117.867V125.218C115.554 126.39 115.714 127.588 115.98 128.787C116.752 132.489 118.776 138.455 121.172 140.213C121.172 127.189 122.104 122.928 128.627 111.235C133.1 103.245 137.786 96.4268 141.833 88.0105C144.15 83.1631 145.561 78.8218 146.093 74.7734V68.1149C145.188 61.4564 141.487 55.4105 135.071 48.9385C132.994 46.8344 127.216 41.8805 124.367 41.1348Z' fill='white')
                                            path(fill-rule='evenodd' clip-rule='evenodd' d='M124.367 28.6412V28.002L123.622 28.5346L124.367 28.6412Z' fill='white')
                                            path(fill-rule='evenodd' clip-rule='evenodd' d='M95.7982 26.46C97.1295 28.9635 97.5288 28.8836 98.9932 30.9345C102.987 36.421 104.558 42.8931 104.212 49.5782C103.253 68.0355 88.6626 84.7084 86.8521 103.192V110.543C86.9852 111.715 87.1449 112.914 87.4112 114.112C88.1833 117.814 90.2068 123.78 92.6031 125.538C92.6031 112.514 93.535 108.253 100.058 96.5605C104.531 88.5703 109.217 81.752 113.264 73.3357C115.581 68.4883 116.992 64.147 117.524 60.0986V53.4401C116.619 46.8083 112.892 40.7624 106.502 34.2903C104.398 32.1596 98.6205 27.2057 95.7982 26.46Z' fill='white')
                                            path(fill-rule='evenodd' clip-rule='evenodd' d='M95.7981 13.9664V13.3271L95.0526 13.8598L95.7981 13.9664Z' fill='white')
                                        .recept__card--img_mobile.recept__card--img-1_mobile



                                    .recept__description.recept__1
                                        img.description-arrow.a1(src='../img/icons/down-icon.svg' alt='arrow')
                                        h3 Сладкие грёзы
                                        .recept__description--text.t1
                                            p Вам понадобится:
                                            br
                                            ul.ingridients(type='disc')
                                                li.ingridients__item зеленый чай (1/2 стакана);
                                                li.ingridients__item ванильное мороженое (2 ст. л.);
                                                li.ingridients__item сливки (2 ч. л.);
                                                li.ingridients__item сахарный сироп (3 ст. л.).
                                            |                 Способ приготовления.
                                            br
                                            br
                                            p
                                                | Заварите зеленый чай и охладите его. Положите в бокал мороженое, добавьте сливки и сироп. Залейте смесь чаем. Не
                                                | перемешивайте. Готово!
                            .card-container
                                .recept__card--back
                                .recept__card
                                    .recept__card--wr-img
                                        svg.recept__card--img(viewBox='0 0 306 445' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            circle(cx='289.5' cy='99.5' r='5.5' fill='white' fill-opacity='0.72')
                                            circle(cx='270' cy='63' r='9' fill='white' fill-opacity='0.72')
                                            circle(cx='240.5' cy='15.5' r='15.5' fill='white' fill-opacity='0.72')
                                            circle(cx='300.5' cy='14.5' r='5.5' fill='white' fill-opacity='0.72')
                                            circle(cx='241' cy='129' r='11' fill='white' fill-opacity='0.72')
                                            path(d='M78.5627 157.894H283.671L252.116 437.388H113.405L78.5627 157.894Z' stroke='white' stroke-width='15' stroke-miterlimit='22.9256')
                                            path(fill-rule='evenodd' clip-rule='evenodd' d='M197.267 203.838L225.009 196.872C228.34 196.037 231.758 198.081 232.591 201.421L239.538 229.238C240.37 232.578 238.332 236.006 235.002 236.841L207.259 243.806C203.929 244.641 200.51 242.598 199.677 239.258L192.731 211.44C191.898 208.079 193.936 204.673 197.267 203.838ZM128.963 271.206L145.201 247.586C147.151 244.751 151.052 244.026 153.879 245.982L177.435 262.263C180.262 264.219 180.985 268.13 179.035 270.965L162.797 294.585C160.847 297.42 156.947 298.145 154.12 296.189L130.563 279.93C127.736 277.974 127.013 274.041 128.963 271.206ZM187.231 303.77L207.566 283.599C209.999 281.182 213.987 281.204 216.397 283.643L236.514 304.034C238.924 306.473 238.902 310.472 236.47 312.889L216.134 333.06C213.702 335.477 209.714 335.455 207.303 333.016L187.187 312.625C184.776 310.186 184.798 306.209 187.231 303.77ZM152.936 354.505L181.446 352.286C184.864 352.022 187.888 354.615 188.151 358.043L190.364 386.63C190.627 390.057 188.041 393.09 184.623 393.353L156.114 395.572C152.695 395.836 149.671 393.243 149.408 389.816L147.195 361.229C146.932 357.801 149.518 354.769 152.936 354.505ZM100.98 177.009C151.6 210.627 207.479 171.076 260.728 177.009L236.141 417.216H128.109L100.98 177.009Z' fill='white')
                                            path(fill-rule='evenodd' clip-rule='evenodd' d='M77.288 157.618L84.6728 222.613L70.1443 221.998C30.9415 220.306 0 187.874 0 148.521C0 107.915 32.8261 75 73.3217 75C112.218 75 144.43 105.52 146.534 144.478L147.235 157.618H77.288ZM70.3196 151.399L77.6606 216.087L70.4073 215.78C34.5353 214.242 6.20145 184.556 6.20145 148.543C6.20145 111.387 36.2445 81.2403 73.3217 81.2403C108.931 81.2403 138.404 109.19 140.332 144.83L140.683 151.399H70.3196Z' fill='white')
                                            path(fill-rule='evenodd' clip-rule='evenodd' d='M73.3217 87.459C105.841 87.459 132.4 112.991 134.131 145.16H63.3731L70.6702 209.54C38.2605 208.156 12.4248 181.371 12.4248 148.521C12.4248 114.793 39.6849 87.459 73.3217 87.459Z' fill='white')
                                        .recept__card--img_mobile.recept__card--img-2_mobile


                                    .recept__description.recept__2
                                        img.description-arrow.a2(src='../img/icons/down-icon.svg' alt='arrow')
                                        h3 Свежее утро
                                        .recept__description--text.t2
                                            p Вам понадобится:
                                            br
                                            ul.ingridients(type='disc')
                                                li.ingridients__item зеленый чай (1 стакан);
                                                li.ingridients__item яблочный сок (1/2 стакана);
                                                li.ingridients__item сок лимона и лимон (по 1/2 от плода);
                                                li.ingridients__item лед;
                                            |                     Способ приготовления.
                                            br
                                            br
                                            p
                                                | Заварите и охладите зеленый чай. Влейте в него яблочный сок и сок лимона. Добавьте лед и несколько долек лимона. Напиток готов!
                            .card-container
                                .recept__card--back
                                .recept__card
                                    .recept__card--wr-img 
                                        svg.recept__card--img(viewBox='0 0 305 442' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            circle(cx='206.5' cy='74.5' r='5.5' fill='white' fill-opacity='0.72')
                                            circle(cx='247' cy='64' r='9' fill='white' fill-opacity='0.72')
                                            circle(cx='234.5' cy='15.5' r='15.5' fill='white' fill-opacity='0.72')
                                            circle(cx='294.5' cy='14.5' r='5.5' fill='white' fill-opacity='0.72')
                                            circle(cx='234' cy='111' r='11' fill='white' fill-opacity='0.72')
                                            path(fill-rule='evenodd' clip-rule='evenodd' d='M56.4856 104C56.7405 104.162 57.0187 104.325 57.2736 104.487C71.6906 113.211 87.2432 120.495 101.22 129.706C106.064 132.908 110.723 136.341 115.08 140.146C117.445 142.211 119.716 144.392 121.895 146.712C124.468 149.473 126.901 152.442 128.454 155.876C129.775 158.822 130.424 162.047 130.911 165.249C131.212 167.221 131.444 169.17 131.56 171.142C131.746 173.81 131.676 176.478 131.259 179.099C130.888 181.373 130.285 183.623 129.52 185.851H116.471L116.332 185.317C113.69 175.921 112.253 165.597 107.2 157.129C105.763 154.716 104.001 152.512 102.054 150.493C100.663 149.009 99.18 147.617 97.6503 146.271C95.0775 144.02 92.412 141.863 89.3292 140.355C85.7134 138.615 81.7731 137.826 77.8096 137.339C74.611 136.944 71.3892 136.712 68.1675 136.643C63.6013 136.55 59.0352 136.736 54.4691 137.13C54.4459 135.367 54.4691 133.604 54.4923 131.84C54.6777 122.56 55.4194 113.257 56.4856 104Z' fill='white')
                                            path(fill-rule='evenodd' clip-rule='evenodd' d='M0 148.521C0.301318 148.475 0.625814 148.429 0.927132 148.382L0.996667 148.359L1.0662 148.336L1.13574 148.313L1.20527 148.289L1.27481 148.266L1.34434 148.243L1.41388 148.22L1.48341 148.197L1.55295 148.173L1.62248 148.15L1.69202 148.127L1.76155 148.104L1.83109 148.081L1.90062 148.057L1.97016 148.034L2.31783 148.15L2.38737 148.127H2.4569L2.52644 148.104L2.59597 148.081H2.71186H2.80457L2.87411 148.057L2.94364 148.034L3.01318 148.011L3.08271 147.988L3.15225 147.965H3.22178L3.29132 147.941L3.36085 147.918L3.43039 147.895L3.49992 147.872L3.56946 147.849L3.63899 147.825L3.70853 147.802L3.77806 147.779L3.8476 147.756H3.91713H3.94031L4.00985 147.733L4.07938 147.709L4.14892 147.686L4.21845 147.663L4.28799 147.64L4.35752 147.617L4.42706 147.593L4.49659 147.57L4.56613 147.547H4.61248H4.63566L4.7052 147.524C20.0029 144.925 35.3006 141.051 50.5982 139.311C56.3696 138.661 62.141 138.313 67.9124 138.429C71.0647 138.499 74.1938 138.708 77.346 139.102C81.0777 139.566 84.8558 140.285 88.2398 141.933C91.1603 143.348 93.6867 145.389 96.1204 147.547C97.6039 148.869 99.0641 150.215 100.408 151.653C102.263 153.579 103.908 155.667 105.276 157.964C110.12 166.084 111.65 176.64 114.2 185.688H105.461C104.349 184.853 103.167 184.111 102.216 183.415C98.8555 181.002 95.3092 178.844 91.7397 176.779C84.879 172.812 77.7632 169.262 70.4621 166.13C63.1841 163.022 55.6743 160.307 48.0486 158.196C40.4693 156.085 32.5887 154.159 24.7081 153.997C24.4299 153.997 24.3836 154.368 24.6385 154.461C32.1251 156.874 39.8203 158.428 47.3301 160.771C54.7935 163.091 62.141 165.736 69.3031 168.822C76.4652 171.907 83.4419 175.434 90.21 179.355C93.6172 181.327 96.9548 183.415 100.269 185.503L100.524 185.665H44.5487V197.567C43.6679 197.08 42.8103 196.592 41.9527 196.059C40.5157 195.154 39.125 194.18 37.7806 193.136C34.6284 190.7 31.7079 187.962 28.9033 185.131C28.5325 184.76 28.1616 184.366 27.7908 183.971C23.7578 179.795 19.9565 175.457 16.3407 170.933C10.4998 163.903 5.12241 156.294 0 148.521Z' fill='white')
                                            path(d='M243.846 198.229V416.775C243.846 426.334 236.012 434.175 226.462 434.175H74.8759C65.3265 434.175 57.4922 426.334 57.4922 416.775V198.229H243.846Z' stroke='white' stroke-width='15' stroke-miterlimit='22.9256')
                                            path(d='M238.747 410.859H61.3167V429.072H238.747V410.859Z' fill='white')
                                            path(fill-rule='evenodd' clip-rule='evenodd' d='M174.496 319.984L185.761 295.995C187.105 293.118 190.582 291.865 193.456 293.211L217.423 304.486C220.297 305.832 221.548 309.312 220.204 312.189L208.939 336.178C207.595 339.055 204.118 340.307 201.244 338.962L177.278 327.686C174.404 326.341 173.152 322.884 174.496 319.984ZM109.898 368.612L128.742 349.959C131.014 347.708 134.676 347.731 136.924 350.005L155.56 368.867C157.808 371.141 157.785 374.806 155.513 377.057L136.669 395.71C134.398 397.96 130.736 397.937 128.487 395.663L109.852 376.801C107.604 374.528 107.627 370.839 109.898 368.612ZM102.968 321.747C108.392 321.747 112.796 326.155 112.796 331.584C112.796 337.013 108.392 341.421 102.968 341.421C97.5443 341.421 93.1404 337.013 93.1404 331.584C93.1404 326.155 97.5443 321.747 102.968 321.747ZM165.202 338.289C170.626 338.289 175.029 342.697 175.029 348.126C175.029 353.555 170.626 357.963 165.202 357.963C159.778 357.963 155.374 353.555 155.374 348.126C155.374 342.697 159.778 338.289 165.202 338.289ZM208.661 377.822C212.045 377.822 214.78 380.56 214.78 383.947C214.78 387.334 212.045 390.072 208.661 390.072C205.277 390.072 202.542 387.334 202.542 383.947C202.519 380.583 205.277 377.822 208.661 377.822ZM70.1012 254.327C99.4449 308.685 128.58 303.28 154.772 292.028L153.566 295.716L139.914 334.693L153.937 337.083L170.672 287.364C191.741 276.437 211.512 266.02 229.684 282.84V403.946H70.1012C70.1012 354.088 70.1012 304.208 70.1012 254.327Z' fill='white')
                                            path(d='M161.841 292.375L205.045 159.298C208.429 148.533 214.433 142.617 226.694 145.773L302.186 172.406' stroke='white' stroke-width='15' stroke-miterlimit='22.9256')
                                        .recept__card--img_mobile.recept__card--img-3_mobile

                                    .recept__description.recept__3
                                        img.description-arrow.a3(src='../img/icons/down-icon.svg' alt='arrow')
                                        h3 Малиновый
                                        .recept__description--text.t3
                                            p Вам понадобится:
                                            br
                                            ul.ingridients.ingridients_two-column(type='disc')
                                                li.ingridients__item зеленый чай (2 стакана);
                                                li.ingridients__item сок грейпфрута (1 стакан);
                                                li.ingridients__item малина (1/4 стакана);
                                                li.ingridients__item сахарная пудра (1 ст. л.).
                                                li.ingridients__item Лимон (2шт);
                                                li.ingridients__item Лед
                                            |                         Способ приготовления.
                                            br
                                            br
                                            p
                                                | Заварите зеленый чай и охладите его. Положите в бокал мороженое, добавьте сливки и сироп. Залейте смесь чаем. Не
                                                | перемешивайте. Готово!
                        a.button__link.recepies__button(href='./recipes.html') 
                            span БОЛЬШЕ РЕЦЕПТОВ
        
        include ./modules/footer

