- 
    let dataProductCard = {
        title: ['Релакс'],
        classCard: 'dellipack-relax',
        img: '../img/content/dellipack-relax.webp',
        'img-animate': '../img/content/dellipack-energy-relax-animate.webp',
        description: 'Чай "Relax" — это удивительное сочетание трав и цветов, созданное специально для тех, кто стремится найти умиротворение и покой в своем чаепитии.',
        composition: 'Состав: душица, листья мяты, лемонграсс, лаванда, чабрец.',
        //- 'amount-icon-type': 'pyramid',
        'amount-icon-type': 'dellipack', 
        'amount-text': '21 шт',
        'weight-text': '27.3 г', 
        'method-size': '200 мл',
        'method-temp': '90-100 С',
        'method-time': '3-5 мин',
        'class-page': 'dellipack',
    }

- let classSlMobileSlider = 'dellipack';

include variables/data-slider-dellipack

-
    let breadcrumbs = [
        {name: 'Главная', url: './index.html'},
        {name: 'Каталог', url: './catalog.html'},
        {name: 'Пакетированный чай на чашку', url: './catalog-dellipack-per-cup.html'},
        {name: 'Релакс', url: './product-card-dellipack-relax.html'},
    ]


doctype html
html(lang='ru') 
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        include ./modules/favicon
        include ./modules/analytics.pug
        title Релакс
    body(data-variant='product-card')

        include ./modules/header.pug

        main.main

            include ./modules/bread-crumbs 

            include ./modules/product-card-description

            .prc__wr-title-slider
                h2.prc__title-slider Попробуйте другие вкусы

            .prc__wr-slider
                include ./modules/tea-sl-slider

            .prc__wr-slider_mobile
                include ./modules/tea-sl-swiper-mobile


        include ./modules/footer