- 
    let dataProductCard = {
        title: ['Cedar Powder', 'Кедр'], 
        classCard: 'top-cedar',
        img: '../img/content/top-selection-cedar-powder.webp',
        'img-animate': '../img/content/top-selection-cedar-powder-animation.webp',
        description: 'Эта травяная пудра получена из бережно высушенной и тонко измельченной (до 10 микрон) хвои кедра. В напитке присутствует легкая горчинка и терпкость, смолистые хвойные ноты, сладкие ореховые, почти кондитерские, тона. Этот чай, как и классическую матчу, можно взбивать капучинатором с молоком или сливками, создавая интересные напитки с характерным, очень ярко выраженным вкусом и максимально сохраненными полезными свойствами.',
        composition: 'Состав: хвоя сибирского кедра молотая.',
        //- 'amount-icon-type': 'pyramid',
        //- 'amount-icon-type': 'dellipack',
        //- 'amount-icon-type': 'leaf',
        'amount-icon-type': 'top-selection',
        //- 'amount-text': '20шт.', 
        'weight-text': '150 г',
        'method-size': '50 мл',
        'method-temp': '80-85 С',
        'method-spoon-weight': '1.5 г',
        'method-time': '25 сек',
        'class-page': 'top-selection', 
    }

- let classSlMobileSlider = 'top-selection';

- 
    let dataSlider = [
        {
            path: '../img/content/top-selection-meadow-sweet-powder.webp',
            alt: 'Матча травяная таволга',
            link: './product-card-top-selection-meadowsweet.html',
            title: 'meadow-sweet-powder',
        },
        {
            path: '../img/content/top-selection-traditional-matcha.webp',
            alt: 'Матча традиционная',
            link: './product-card-top-selection-japan-matcha-traditional.html',
            title: 'traditional-matcha',
        }
    ]

-
    let breadcrumbs = [
        {name: 'Главная', url: './index.html'},
        {name: 'Каталог', url: './catalog.html'},
        {name: 'Листовой чай TOP SELECTION', url: './catalog-top-selection.html'},
        {name: 'Cedar Powder | Кедр', url: './product-card-top-selection-cedar-powder.html'},
    ]


doctype html
html(lang='ru') 
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        include ./modules/favicon
        title Cedar Powder
    body(data-variant='product-card')

        include ./modules/header.pug

        main.main

            include ./modules/bread-crumbs 

            include ./modules/product-card-description

            .prc__wr-title-slider
                h2.prc__title-slider Попробуйте другие вкусы

            .prc__wr-slider
                include ./modules/tea-sl-slider

            .prc__wr-slider_mobile
                include ./modules/tea-sl-swiper-mobile


        include ./modules/footer