- 
    let dataProductCard = {
        title: ['Strawberry panna cotta', 'Клубничная Панна-Котта'],
        classCard: 'pyramid-berries',
        img: '../img/content/pyramid-strawberry-pana-cotta.webp',
        'img-animate': '../img/content/pyramid-strawberry-pana-cotta-animation.webp',
        description: 'Роскошный десертный купаж, который сочетает в себе тягучую сливочность итальянского лакомства, легкий древесный вкус ройбуша и ягодную кислинку.',
        composition: 'Состав: ройбуш, кусочки клубники, ароматизаторы пищевые “Клубника” и “Молочная карамель”.',
        'amount-icon-type': 'pyramid',
        //- 'amount-icon-type': 'dellipack',
        'amount-text': '15 шт',
        'weight-text': '40,5 г',
        'method-size': '200 мл',
        'method-temp': '90-100 С',
        'method-time': '3-5 мин',
        'class-page': 'pyramid',
    }

- let classSlMobileSlider = 'pyramid';

- 
    let dataSlider = [
        {
            path: '../img/content/pyramid-siberian-berries.webp',
            alt: 'Сибирский сбор',
            link: './product-card-pyramid-siberian-berries.html',
            title: 'siberian-berries',
        },
        {
            path:'../img/content/pyramid-ginger-tropic.webp',
            alt: 'Имбирный тропик',
            link: './product-card-pyramid-ginger-tropic.html',
            title: 'ginger-tropic',
        },                         
        {
            path: '../img/content/pyramid-green-wind.webp',
            alt: 'Зеленый ветер',
            link: './product-card-pyramid-green-wind.html',
            title: 'green-wind',
        },
        {
            path: '../img/content/pyramid-forest-meditation.webp',
            alt: 'Лесная Медитация',
            link: './product-card-pyramid-forest-meditation.html',
            title: 'forest-meditation',
        },
        {
            path: '../img/content/pyramid-milk-oolong.webp',
            alt: 'Молочный Улун',
            link: './product-card-pyramid-milk-oolong.html',
            title: 'milk-oolong',
        },
        {
            path: '../img/content/pyramid-russian-breakfast.webp',
            alt: 'Русский Завтрак',
            link: './product-card-pyramid-russian-breakfast.html',
            title: 'russian-breakfast',
        },
        {
            path: '../img/content/pyramid-earl-grey.webp',
            alt: 'Эрл Грей',
            link: './product-card-pyramid-earl-grey.html',
            title: 'earl-grey',
        }
    ]



-
    let breadcrumbs = [
        {name: 'Главная', url: './index.html'},
        {name: 'Каталог', url: './catalog.html'},
        {name: 'Порционный чай в пирамидках', url: './catalog-pyramid.html'},
        {name: 'Strawberry panna cotta | Клубничная Панна-Котта', url: './product-card-strawberry-panna-cotta.html'},
    ]


doctype html
html(lang='ru') 
    head
        include ./modules/analytics.pug
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        include ./modules/favicon
        title Клубничная Панна-Котта
    body(data-variant='product-card')

        include ./modules/header.pug

        main.main

            include ./modules/bread-crumbs 

            include ./modules/product-card-description

            .prc__wr-title-slider
                h2.prc__title-slider Попробуйте другие вкусы

            .prc__wr-slider
                include ./modules/tea-sl-slider

            .prc__wr-slider_mobile
                include ./modules/tea-sl-swiper-mobile


        include ./modules/footer