- 
    let dataProductCard = {
        title: ['Mountain Thyme', 'Горный Чабрец'],
        classCard: 'dellipack-thyme',
        img: '../img/content/dellipack-mountain-thyme.webp',
        'img-animate': '../img/content/dellipack-mountain-thyme-animate.webp',
        description: 'Пряный черный чай с листочками душистого горного чабреца. Букет зрелый, древесный, чуть маслянистый. Прекрасно сочетается с блюдами из мяса и печеных овощей.',
        composition: 'Состав: чай черный байховый мелкий, чабрец.',
        //- 'amount-icon-type': 'pyramid',
        'amount-icon-type': 'dellipack',
        'amount-text': '25 шт',
        'weight-text': '50 г',
        'method-size': '200 мл',
        'method-temp': '90-100 С',
        'method-time': '3-5 мин',
        'class-page': 'dellipack',
    }

- let classSlMobileSlider = 'dellipack';

- 
    let dataSlider = [
        {
            path: '../img/content/dellipack-earl-grey-ultramarine.webp',
            alt: 'Эрл Грей Ультрамарин',
            link: './product-card-dellipack-earl-grey.html',
            title: 'earl-grey-ultramarine',
        },
        {
            path:'../img/content/dellipack-jasmine-emerald.webp',
            alt: 'Жасмин Изумруд',
            link: './product-card-dellipack-jasmine-emerald.html',
            title: 'jasmine-emerald',
        },                          
        {
            path: '../img/content/dellipack-oriental-bloom.webp',
            alt: 'Ориентал Блум',
            link: './product-card-dellipack-oriental-bloom.html',
            title: 'oriental-bloom',
        },
        {
            path: '../img/content/dellipack-fruit-magenta.webp',
            alt: 'Фрут Маджента',
            link: './product-card-dellipack-fruit-magenta.html',
            title: 'fruit-magenta',
        },
        {
            path: '../img/content/dellipack-rooibush-orange.webp',
            alt: 'Ройбуш апельсин',
            link: './product-card-dellipack-rooibush-orange.html',
            title: 'rooibush-orange',
        },
        {
            path: '../img/content/dellipack-assorti.webp',
            alt: 'Ассорти',
            link: './product-card-dellipack-assorti.html',
            title: 'assorti',
        },
        {
            path: '../img/content/dellipack-english-breakfast.webp',
            alt: 'Английский завтрак',
            link: './product-card-dellipack-english-breakfast.html',
            title: 'english-breakfast',
        },
        {
            path: '../img/content/dellipack-kenya-sapphire.webp',
            alt: 'Кения Сапфир',
            link: './product-card-dellipack-kenya-sapphire.html',
            title: 'kenya-sapphire',
        },
        {
            path: '../img/content/dellipack-red-meadow.webp',
            alt: 'Красная поляна',
            link: './product-card-dellipack-red-meadow.html',
            title: 'red-meadow',
        },
        {
            path: '../img/content/dellipack-milk-oolong.webp',
            alt: 'Молочный Улун',
            link: './product-card-dellipack-milk-oolong.html',
            title: 'milk-oolong',
        }
    ]

-
    let breadcrumbs = [
        {name: 'Главная', url: './index.html'},
        {name: 'Каталог', url: './catalog.html'},
        {name: 'Пакетированный чай на чашку', url: './catalog-dellipack-per-cup.html'},
        {name: 'Mountain Thyme | Горный Чабрец', url: './product-card-dellipack-mountain-thyme.html'},
    ]


doctype html
html(lang='ru') 
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        include ./modules/favicon
        title Горный Чабрец
    body(data-variant='product-card')

        include ./modules/header.pug

        main.main

            include ./modules/bread-crumbs 

            include ./modules/product-card-description

            .prc__wr-title-slider
                h2.prc__title-slider Попробуйте другие вкусы

            .prc__wr-slider
                include ./modules/tea-sl-slider

            .prc__wr-slider_mobile
                include ./modules/tea-sl-swiper-mobile


        include ./modules/footer