- 
    let dataProductCard = {
        title: ['Earl Grey', 'Эрл Грей'],
        img: '../img/content/product-card-pyramid-earl-grey.webp',
        'img-animate': '',
        description: 'Крепкий черный чай с превосходной текстурой, дополненный приятными цитрусовыми нотами. Бергамот смягчает присущую чаю терпкость и добавляет свежести. Подходит для подачи с молоком и в чистом виде.',
        composition: 'Состав: Чай черный байховый среднелистовой индийский, ароматизатор пищевой «Бергамот».',
        'amount-icon-type': 'pyramid',
        //- 'amount-icon-type': 'dellipack',
        'amount-text': '15шт.',
        'weight-text': '40,5г.',
        'method-size': '200мл.',
        'method-temp': '90-100С',
        'method-time': '3-5мин.',
        'class-page': 'pyramid',
    }

- let classSlMobileSlider = 'pyramid';


- 
    let dataSlider = [
        {
            path: '../img/content/pyramid-siberian-berries.webp',
            alt: 'Сибирский сбор'
        },
        {
            path:'../img/content/pyramid-ginger-tropic.webp',
            alt: 'Имбирный тропик'
        },
        {
            path: '../img/content/pyramid-strawberry-pana-cotta.webp',
            alt: 'Клубничная Панна-Котта'
        },                          
        {
            path: '../img/content/pyramid-green-wind.webp',
            alt: 'Зеленый ветер'
        },
        {
            path: '../img/content/pyramid-forest-meditation.webp',
            alt: 'Лесная Медитация'
        },
        {
            path: '../img/content/pyramid-milk-oolong.webp',
            alt: 'Молочный Улун'
        },
        {
            path: '../img/content/pyramid-russian-breakfast.webp',
            alt: 'Русский Завтрак'
        },
    ]



-
    let breadcrumbs = [
        {name: 'Главная', url: './index.html'},
        {name: 'Каталог', url: './catalog.html'},
        {name: 'Порционный чай в пирамидках', url: './catalog-pyramid.html'},
        {name: 'Earl Grey | Эрл Грей', url: './product-card-earl-grey.html'},
    ]


doctype html
html(lang='ru') 
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title Эрл Грей
    body(data-variant='product-card')

        include ./modules/header.pug

        main.main

            include ./modules/bread-crumbs 

            include ./modules/product-card-description

            .prc__wr-title-slider
                h2.prc__title-slider Попробуйте другие вкусы

            .prc__wr-slider
                include ./modules/tea-sl-slider

            .prc__wr-slider_mobile
                include ./modules/tea-sl-swiper-mobile


        include ./modules/footer