- 
    let dataProductCard = { 
        title: ['English Breakfest', 'Английский завтрак'],
        classCard: 'dellipack-hor-eng-breakfast',
        img: '../img/content/dellipack-horeka-english-breakfest.webp',
        'img-animate': '../img/content/dellipack-kenya-sapphire-animate.webp',
        description: 'Исключительно крепкий купаж чая из Северной Индии и Кении. Для него характерен яркий, терпкий букет. Отлично подходит для сопровождения плотного завтрака.',
        composition: 'Состав: чай черный',
        //- 'amount-icon-type': 'pyramid',
        'amount-icon-type': 'dellipack',
        'amount-text': '25 шт',
        'weight-text': '43,75 г',
        'method-size': '200 мл',
        'method-temp': '90-100 С',
        'method-time': '3-5 мин',
        'class-page': 'dellipack',
    }

- let classSlMobileSlider = 'dellipack';

include variables/data-slider-dellipack-horeka

-
    let breadcrumbs = [
        {name: 'Главная', url: './index.html'},
        {name: 'Каталог', url: './catalog.html'},
        {name: 'Пакетированный чай на чашку', url: './catalog-dellipack-per-cup.html'},
        {name: 'English Breakfest | Английский завтрак', url: './product-card-dellipack-horeka-english-breakfest.html'},
    ]


doctype html
html(lang='ru') 
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        include ./modules/favicon
        include ./modules/analytics.pug
        title Английский завтрак
    body(data-variant='product-card')

        include ./modules/header.pug

        main.main

            include ./modules/bread-crumbs 

            include ./modules/product-card-description

            .prc__wr-title-slider
                h2.prc__title-slider Попробуйте другие вкусы

            .prc__wr-slider
                include ./modules/tea-sl-slider

            .prc__wr-slider_mobile
                include ./modules/tea-sl-swiper-mobile


        include ./modules/footer