- 
    let dataProductCard = { 
        title: ['Krasnaya polyana mix', 'Краснополянский сбор'],
        classCard: 'dellipack-hor-krasnaya-polyana',
        img: '../img/content/dellipack-horeka-krasnaya-polyana.webp',
        'img-animate': '../img/content/dellipack-red-meadow-animate.webp',
        description: 'Полезный напиток на основе целебных горных трав. Этот чай с душистыми пряным букетом подарит заряд бодрости на целый день.',
        composition: 'Состав: чай зеленый, зверобой, душица, тысячелистник, мелисса, чабрец, ромашка, мята',
        //- 'amount-icon-type': 'pyramid',
        'amount-icon-type': 'dellipack',
        'amount-text': '25 шт',
        'weight-text': '37,5 г',
        'method-size': '200 мл',
        'method-temp': '90-100 С',
        'method-time': '3-5 мин',
        'class-page': 'dellipack',
    }

- let classSlMobileSlider = 'dellipack';

include variables/data-slider-dellipack-horeka

-
    let breadcrumbs = [
        {name: 'Главная', url: './index.html'},
        {name: 'Каталог', url: './catalog.html'},
        {name: 'Пакетированный чай на чашку', url: './catalog-dellipack-per-cup.html'},
        {name: 'Krasnaya polyana mix | Краснополянский сбор', url: './product-card-dellipack-horeka-krasnaya-polyana.html'},
    ]


doctype html
html(lang='ru') 
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        include ./modules/favicon
        include ./modules/analytics.pug
        title Краснополянский сбор
    body(data-variant='product-card')

        include ./modules/header.pug

        main.main

            include ./modules/bread-crumbs 

            include ./modules/product-card-description

            .prc__wr-title-slider
                h2.prc__title-slider Попробуйте другие вкусы

            .prc__wr-slider
                include ./modules/tea-sl-slider

            .prc__wr-slider_mobile
                include ./modules/tea-sl-swiper-mobile


        include ./modules/footer