- 
    let dataProductCard = {
        title: ['Milk Oolong', 'Молочный Улун'],
        classCard: 'dellipack-oolong',
        img: '../img/content/dellipack-milk-oolong.webp',
        'img-animate': '../img/content/dellipack-milk-oolong-animate.webp',
        description: 'Изысканный улун с шелковистым сливочным вкусом и гармоничными нюансами зелени, меда и утренних цветов. Универсальный чай, подходит к легким закускам и полноценным блюдам.',
        composition: 'Состав: Чай Оолонг байховый мелкий, ароматизатор “Молоко”',
        //- 'amount-icon-type': 'pyramid',
        'amount-icon-type': 'dellipack',
        'amount-text': '25 шт',
        'weight-text': '50 г',
        'method-size': '200 мл',
        'method-temp': '90-100 С',
        'method-time': '3-5 мин',
        'class-page': 'dellipack',
    }

- let classSlMobileSlider = 'dellipack';

- 
    let dataSlider = [
        {
            path: '../img/content/dellipack-earl-grey-ultramarine.webp',
            alt: 'Эрл Грей Ультрамарин'
        },
        {
            path:'../img/content/dellipack-jasmine-emerald.webp',
            alt: 'Жасмин Изумруд'
        },
        {
            path: '../img/content/dellipack-mountain-thyme.webp',
            alt: 'Горный чабрец'
        },                          
        {
            path: '../img/content/dellipack-oriental-bloom.webp',
            alt: 'Ориентал Блум'
        },
        {
            path: '../img/content/dellipack-fruit-magenta.webp',
            alt: 'Фрут Маджента'
        },
        {
            path: '../img/content/dellipack-rooibush-orange.webp',
            alt: 'Ройбуш апельсин'
        },
        {
            path: '../img/content/dellipack-assorti.webp',
            alt: 'Ассорти'
        },
        {
            path: '../img/content/dellipack-english-breakfast.webp',
            alt: 'Английский завтрак'
        },
        {
            path: '../img/content/dellipack-kenya-sapphire.webp',
            alt: 'Кения Сапфир'
        },
        {
            path: '../img/content/dellipack-red-meadow.webp',
            alt: 'Красная поляна'
        },
    
    ]

-
    let breadcrumbs = [
        {name: 'Главная', url: './index.html'},
        {name: 'Каталог', url: './catalog.html'},
        {name: 'Пакетированный чай на чашку', url: './catalog-dellipack-per-cup.html'},
        {name: 'Milk Oolong | Молочный Улун', url: './product-card-dellipack-milk-oolong.html'},
    ]


doctype html
html(lang='ru') 
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title Молочный Улун
    body(data-variant='product-card')

        include ./modules/header.pug

        main.main

            include ./modules/bread-crumbs 

            include ./modules/product-card-description

            .prc__wr-title-slider
                h2.prc__title-slider Попробуйте другие вкусы

            .prc__wr-slider
                include ./modules/tea-sl-slider

            .prc__wr-slider_mobile
                include ./modules/tea-sl-swiper-mobile


        include ./modules/footer