- 
    let dataProductCard = {
        title: ['Mountain Thyme', 'Горный Чабрец'],
        classCard: 'dell-pot-thyme',
        img: '../img/content/dellipack-tea-pot-mountain-thyme.webp',
        'img-animate': '../img/content/dellipack-tea-pot-mountain-thyme-animation.webp',
        description: 'Пряный черный чай с листочками душистого горного чабреца. Букет зрелый, древесный, чуть маслянистый. Прекрасно сочетается с блюдами из мяса и печеных овощей.',
        composition: 'Состав: Чай черный байховый индийский среднелистовой, чабрец.',
        //- 'amount-icon-type': 'pyramid',
        'amount-icon-type': 'dellipack',
        'amount-text': '20 шт',
        'weight-text': '80 г',
        'method-size': '400 мл',
        'method-temp': '90-100 С',
        'method-time': '3-5 мин',
        'class-page': 'tea-pot',
    }

- let classSlMobileSlider = 'dellipack-tea-pot';

- 
    let dataSlider = [
        {
            path:'../img/content/dellipack-tea-pot-milk-oolong.webp',
            alt: 'Молочный Улун',
            link: './product-card-dellipack-tea-pot-milk-oolong.html',
            title: 'milk-oolong',
        },
        {
            path: '../img/content/dellipack-tea-pot-berry-cocktail.webp',
            alt: 'Ягодный коктейль',
            link: './product-card-dellipack-tea-pot-berry-cocktail.html',
            title: 'berry-cocktail',
        },                      
        {
            path: '../img/content/dellipack-tea-pot-earl-gray.webp',
            alt: 'Эрл Грей',
            link: './product-card-dellipack-tea-pot-earl-grey.html',
            title: 'earl-gray',
        },
        {
            path: '../img/content/dellipack-tea-pot-silver-jasmine.webp',
            alt: 'Серебряный жасмин',
            link: './product-card-dellipack-tea-pot-silver-jasmine.html',
            title: 'silver-jasmine',
        },
        {
            path: '../img/content/dellipack-tea-pot-king-breakfast.webp',
            alt: 'Королевский завтрак',
            link: './product-card-dellipack-tea-pot-king-breakfast.html',
            title: 'king-breakfast',
        },
        {
            path: '../img/content/dellipack-tea-pot-sencha-classic.webp',
            alt: 'Сенча Классик',
            link: './product-card-dellipack-tea-pot-sencha-classic.html',
            title: 'sencha-classic',
        } 
    ]

-
    let breadcrumbs = [
        {name: 'Главная', url: './index.html'},
        {name: 'Каталог', url: './catalog.html'},
        {name: 'Пакетированный чай на чайник', url: './catalog-dellipack-per-tea-pot.html'},
        {name: 'Mountain Thyme | Горный Чабрец', url: './product-card-dellipack-tea-pot-mountain-thyme.html'},
    ]


doctype html
html(lang='ru') 
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title Горный Чабрец
    body(data-variant='product-card')

        include ./modules/header.pug

        main.main

            include ./modules/bread-crumbs 

            include ./modules/product-card-description

            .prc__wr-title-slider
                h2.prc__title-slider Попробуйте другие вкусы

            .prc__wr-slider
                include ./modules/tea-sl-slider

            .prc__wr-slider_mobile
                include ./modules/tea-sl-swiper-mobile


        include ./modules/footer