- 
    let dataProductCard = {
        title: ['Milk Oolong', 'Молочный Улун'],
        img: '../img/content/product-card-dellipack-tea-pot-milk-oolong.webp',
        'img-animate': '',
        description: 'Полуферментированный чай c шелковистым сладко-сливочным букетом с нюансами зелени, меда и утренних цветов.',
        composition: 'Состав: Чай байховый китайский крупнолистовой типа Оолонг, ароматизатор “Молоко”',
        //- 'amount-icon-type': 'pyramid',
        'amount-icon-type': 'dellipack',
        'amount-text': '20шт.',
        'weight-text': '80г.',
        'method-size': '400мл.', 
        'method-temp': '90-100С',
        'method-time': '3-5мин.',
        'class-page': 'tea-pot',
    }

- let classSlMobileSlider = 'dellipack-tea-pot';

- 
    let dataSlider = [
        {
            path: '../img/content/dellipack-tea-pot-mountain-thyme.webp',
            alt: 'Горный чабрец'
        },
        {
            path:'../img/content/dellipack-tea-pot-milk-oolong.webp',
            alt: 'Молочный Улун'
        },
        {
            path: '../img/content/dellipack-tea-pot-berry-cocktail.webp',
            alt: 'Ягодный коктейль'
        },                          
        {
            path: '../img/content/dellipack-tea-pot-earl-gray.webp',
            alt: 'Эрл Грей'
        },
        {
            path: '../img/content/dellipack-tea-pot-silver-jasmine.webp',
            alt: 'Серебряный жасмин'
        },
        {
            path: '../img/content/dellipack-tea-pot-king-breakfast.webp',
            alt: 'Королевский завтрак'
        },
        {
            path: '../img/content/dellipack-tea-pot-sencha-classic.webp',
            alt: 'Сенча Классик'
        },    
    ]

-
    let breadcrumbs = [
        {name: 'Главная', url: './index.html'},
        {name: 'Каталог', url: './catalog.html'},
        {name: 'Пакетированный чай на чайник', url: './catalog-dellipack-per-tea-pot.html'},
        {name: 'Milk Oolong | Молочный Улун', url: './product-card-dellipack-tea-pot-milk-oolong.html'},
    ]


doctype html
html(lang='ru') 
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title Молочный Улун
    body(data-variant='product-card')

        include ./modules/header.pug

        main.main

            include ./modules/bread-crumbs 

            include ./modules/product-card-description

            .prc__wr-title-slider
                h2.prc__title-slider Попробуйте другие вкусы

            .prc__wr-slider
                include ./modules/tea-sl-slider

            .prc__wr-slider_mobile
                include ./modules/tea-sl-swiper-mobile


        include ./modules/footer