- 
    let dataProductCard = {
        title: ['Green Wind', 'Зеленый Ветер'],
        img: '../img/content/product-card-pyramid-green-wind.png',
        'img-animate': '',
        description: 'Свежий зеленый чай из Китая с очень насыщенным и ярким вкусом. В его букете фруктовые ноты, молодой зеленый горошек и чуть терпкие травянистые оттенки. На послевкусии - микс сладости и легкой горчинки.',
        composition: 'Состав: Чай зеленый байховый крупнолистовой китайский.',
        'amount-icon-type': 'pyramid',
        //- 'amount-icon-type': 'dellipack',
        'amount-text': '15шт.',
        'weight-text': '40,5г.',
        'method-size': '200мл.',
        'method-temp': '90-100С',
        'method-time': '3-5мин.',
        'class-page': 'pyramid',
    }


- let classSlMobileSlider = 'pyramid';

- 
    let dataSlider = [
        {
            path: '../img/content/pyramid-siberian-berries.png',
            alt: 'Сибирский сбор'
        },
        {
            path:'../img/content/pyramid-ginger-tropic.png',
            alt: 'Имбирный тропик'
        },
        {
            path: '../img/content/pyramid-strawberry-pana-cotta.png',
            alt: 'Клубничная Панна-Котта'
        },                          
        {
            path: '../img/content/pyramid-green-wind.png',
            alt: 'Зеленый ветер'
        },
        {
            path: '../img/content/pyramid-forest-meditation.png',
            alt: 'Лесная Медитация'
        },
        {
            path: '../img/content/pyramid-milk-oolong.png',
            alt: 'Молочный Улун'
        },
        {
            path: '../img/content/pyramid-russian-breakfast.png',
            alt: 'Русский Завтрак'
        },
        {
            path: '../img/content/pyramid-earl-grey.png',
            alt: 'Эрл Грей'
        },
    
    ]

-
    let breadcrumbs = [
        {name: 'Главная', url: './index.html'},
        {name: 'Каталог', url: './catalog.html'},
        {name: 'Порционный чай в пирамидках', url: './catalog-pyramid.html'},
        {name: 'Green Wind | Зеленый Ветер', url: './product-card-green-wind.html'},
    ]


doctype html
html(lang='ru') 
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title Зеленый Ветер
    body(data-variant='catalog')

        include ./modules/header.pug

        main.main

            include ./modules/bread-crumbs 

            include ./modules/product-card-description

            .prc__wr-title-slider
                h2.prc__title-slider Попробуйте другие вкусы

            .prc__wr-slider
                include ./modules/tea-sl-slider

            .prc__wr-slider_mobile
                include ./modules/tea-sl-swiper-mobile


        include ./modules/footer