- 
    let dataProductCard = {
        title: ['Sencha Classic', 'Сенча Классик'],
        img: '../img/content/product-card-dellipack-tea-pot-sencha-classic.webp',
        'img-animate': '',
        description: 'Пикантный зеленый чай из листьев раннего сбора. Легкий и освежающий букет с игристыми, ярко выраженными травянисто-морскими оттенками.',
        composition: 'Состав: Чай зеленый байховый китайский крупнолистовой',
        //- 'amount-icon-type': 'pyramid',
        'amount-icon-type': 'dellipack',
        'amount-text': '20шт.',
        'weight-text': '80г.',
        'method-size': '400мл.',
        'method-temp': '90-100С',
        'method-time': '3-5мин.',
        'class-page': 'tea-pot',
    }

- let classSlMobileSlider = 'dellipack-tea-pot';

- 
    let dataSlider = [
        {
            path: '../img/content/dellipack-tea-pot-mountain-thyme.webp',
            alt: 'Горный чабрец'
        },
        {
            path:'../img/content/dellipack-tea-pot-milk-oolong.webp',
            alt: 'Молочный Улун'
        },
        {
            path: '../img/content/dellipack-tea-pot-berry-cocktail.webp',
            alt: 'Ягодный коктейль'
        },                          
        {
            path: '../img/content/dellipack-tea-pot-earl-gray.webp',
            alt: 'Эрл Грей'
        },
        {
            path: '../img/content/dellipack-tea-pot-silver-jasmine.webp',
            alt: 'Серебряный жасмин'
        },
        {
            path: '../img/content/dellipack-tea-pot-king-breakfast.webp',
            alt: 'Королевский завтрак'
        },    
    ]

-
    let breadcrumbs = [
        {name: 'Главная', url: './index.html'},
        {name: 'Каталог', url: './catalog.html'},
        {name: 'Пакетированный чай на чайник', url: './catalog-dellipack-per-tea-pot.html'},
        {name: 'Sencha Classic | Сенча Классик', url: './product-card-dellipack-tea-pot-sencha-classic.html'},
    ]


doctype html
html(lang='ru') 
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title Сенча Классик
    body(data-variant='product-card')

        include ./modules/header.pug

        main.main

            include ./modules/bread-crumbs 

            include ./modules/product-card-description

            .prc__wr-title-slider
                h2.prc__title-slider Попробуйте другие вкусы

            .prc__wr-slider
                include ./modules/tea-sl-slider

            .prc__wr-slider_mobile
                include ./modules/tea-sl-swiper-mobile


        include ./modules/footer