- 
    let dataProductCard = {
        title: ['Shu Pu’er Bing Cha', 'Шу Пуэр Бин Ча'],
        classCard: 'shu-puer-bing-cha',
        img: '../img/content/top-selection-shu-puer-bing-cha.webp',
        'img-animate': '../img/content/dellipack-tea-pot-silver-jasmine-animation.webp',
        description: 'Отличный вариант шу-пуэра на каждый день. Блинчик спрессован из Мэнхайского сырья 2-4 грейда сбора 2021 года. Вкус ровный, сладковатый, с ореховыми и древесными тонами, аромат плотный, выдержанный. Традиционная форма и аккуратная мягкая прессовка делают такой чай удобным в поездках. Чай хорошо заваривается как проливами, так и методом настаивания, а также отлично подходит для варки.',
        composition: 'Состав: чай черный байховый постферментированный китайский',
        //- 'amount-icon-type': 'pyramid',
        //- 'amount-icon-type': 'dellipack',
        //- 'amount-icon-type': 'leaf',
        'amount-icon-type': 'top-selection',
        //- 'amount-text': '20шт.',
        'weight-text': '100 г',
        'method-size': '400 мл',
        'method-temp': '95-100 С',
        'method-spoon-weight': '4 г',
        'method-time': '3-5 мин',
        'class-page': 'top-selection', 
    }

- let classSlMobileSlider = 'top-selection';

- 
    let dataSlider = [
        {
            path: '../img/content/top-selection-cedar-powder.webp',
            alt: 'Матча травяная кедр',
            link: './product-card-top-selection-cedar-powder.html',
            title: 'cedar-powder',
        },
        {
            path: '../img/content/top-selection-traditional-matcha.webp',
            alt: 'Матча традиционная',
            link: './product-card-top-selection-japan-matcha-traditional.html',
            title: 'traditional-matcha',
        },
        {
            path: '../img/content/top-selection-meadow-sweet-powder.webp',
            alt: 'Матча травяная таволга',
            link: './product-card-top-selection-meadowsweet.html',
            title: 'meadow-sweet-powder',
        }
    ]

-
    let breadcrumbs = [
        {name: 'Главная', url: './index.html'},
        {name: 'Каталог', url: './catalog.html'},
        {name: 'Листовой чай TOP SELECTION', url: './catalog-top-selection.html'},
        {name: 'Shu Pu’er Bing Cha | Шу Пуэр Бин Ча', url: './product-card-top-selection-shu-puer-bing-cha.html'},
    ]


doctype html
html(lang='ru') 
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        include ./modules/favicon
        include ./modules/analytics.pug
        title Шу Пуэр Бин Ча
    body(data-variant='product-card')

        include ./modules/header.pug

        main.main

            include ./modules/bread-crumbs 

            include ./modules/product-card-description

            .prc__wr-title-slider
                h2.prc__title-slider Попробуйте другие вкусы

            .prc__wr-slider
                include ./modules/tea-sl-slider

            .prc__wr-slider_mobile
                include ./modules/tea-sl-swiper-mobile


        include ./modules/footer