- 
    let dataProductCard = {
        title: ['Healing Herbs', 'Мыс Целебных Трав'],
        img: '../img/content/product-card-leaf-healing-herbs.webp',
        'img-animate': '',
        description: 'Полезный для здоровья напиток, наполненный теплыми ароматами лета и целой композицией душистых нот: пряно-смолистых, освежающих зеленых, сладковатых и древесных.',
        composition: 'Состав: Чабрец, мята, листья малины, листья черной смородины, фенхель, лаванда, душица, шалфей',
        //- 'amount-icon-type': 'pyramid',
        //- 'amount-icon-type': 'dellipack',
        'amount-icon-type': 'leaf',
        //- 'amount-text': '20шт.',
        'weight-text': '150г.',
        'method-size': '400мл.',
        'method-temp': '90-100С',
        'method-time': '3-5мин.',
        'class-page': 'leaf',
    }

- let classSlMobileSlider = 'leaf';

- 
    let dataSlider = [
        {
            path: '../img/content/leaf-jin-hao.webp',
            alt: 'Jin Hao',
        },
        {
            path: '../img/content/leaf-tie-guan-yin.webp',
            alt: 'Tie Guan Yin',
        },
        {
            path: '../img/content/leaf-da-hong-pao.webp',
            alt: 'Da hong pao',
        },
        {
            path: '../img/content/leaf-uzbek-tea-95.webp',
            alt: 'Uzbek tea №95',
        },
        {
            path: '../img/content/leaf-georgian-green-tea-36.webp',
            alt: 'Georgian green tea №36',
        },
        {
            path: '../img/content/leaf-georgian-black-tea-36.webp',
            alt: 'Georgian black tea №36',
        },
        {
            path: '../img/content/leaf-traditional-sbiten.webp',
            alt: 'Сбитень монастырский',
        },
        {
            path: '../img/content/leaf-fireweed-natural.webp',
            alt: 'Иван-чай',
        },
        {
            path: '../img/content/leaf-creamy-oolong.webp',
            alt: 'Сливочный улун',
        },
        {
            path: '../img/content/leaf-dian-hong.webp',
            alt: 'Dian hong',
        },
        {
            path: '../img/content/leaf-altai-herbal-mix-3.webp',
            alt: 'Алтайский сбор №3',
        },
        {
            path: '../img/content/leaf-sagan-dale.webp',
            alt: 'Саган-Дайля',
        },
        {
            path: '../img/content/leaf-altaic-herbs.webp',
            alt: 'Травы Алтая',
        },
        {
            path: '../img/content/leaf-spicy-black.webp',
            alt: 'Черный купаж со специями',
        },
        {
            path: '../img/content/leaf-altai-herbal-mix-1.webp',
            alt: 'Алтайский сбор №1',
        },
        {
            path: '../img/content/leaf-altai-herbal-mix-2.webp',
            alt: 'Алтайский сбор №2',
        },
        {
            path: '../img/content/leaf-thyme.webp',
            alt: 'Чабрец',
        },
        {
            path: '../img/content/leaf-oregano.webp',
            alt: 'Душица',
        },
        {
            path: '../img/content/leaf-black-currant-leaf.webp',
            alt: 'Лист смородины',
        },
        {
            path: '../img/content/leaf-bergenia.webp',
            alt: 'Бадан',
        },
        {
            path: '../img/content/leaf-lavender.webp',
            alt: 'Лаванда',
        },
        {
            path: '../img/content/leaf-buckwheat-granulated.webp',
            alt: 'Гречишный чай гранулированный',
        },
        {
            path: '../img/content/leaf-cascara.webp',
            alt: 'Каскара',
        },
        {
            path: '../img/content/leaf-buckwheat.webp',
            alt: 'Гречишный чай',
        },
        {
            path: '../img/content/leaf-butterly-pea-flower.webp',
            alt: 'Анчан',
        },
        {
            path: '../img/content/leaf-gaba-oolong.webp',
            alt: 'Gaba Oolong',
        },
        {
            path: '../img/content/leaf-rosehi-p.webp',
            alt: 'Шиповник',
        },
        {
            path: '../img/content/leaf-hibiscus.webp',
            alt: 'Каркаде',
        },
        {
            path: '../img/content/leaf-rooibush.webp',
            alt: 'Ройбуш',
        },
    ]

-
    let breadcrumbs = [
        {name: 'Главная', url: './index.html'},
        {name: 'Каталог', url: './catalog.html'},
        {name: 'Листовой чай Базовая линейка', url: './catalog-leaf-basic.html'},
        {name: 'Healing Herbs | Мыс Целебных Трав', url: './product-card-leaf-healing-herbs.html'},
    ]


doctype html
html(lang='ru') 
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title Healing Herbs
    body(data-variant='product-card')

        include ./modules/header.pug

        main.main

            include ./modules/bread-crumbs 

            include ./modules/product-card-description

            .prc__wr-title-slider
                h2.prc__title-slider Попробуйте другие вкусы

            .prc__wr-slider
                include ./modules/tea-sl-slider

            .prc__wr-slider_mobile
                include ./modules/tea-sl-swiper-mobile


        include ./modules/footer