- 
    let dataProductCard = {
        title: ['Forest Meditation', 'Лесная Медитация'],
        classCard: 'pyramid-forest',
        img: '../img/content/pyramid-forest-meditation.webp',
        'img-animate': '../img/content/pyramid-forest-meditaiton-animation.webp',
        description: 'Полезный травяной сбор с теплым бальзамическим ароматом летнего леса. Раскрывается сладостью и в завершении - прохладной ментольной ноткой.',
        composition: 'Состав: Листья ежевики, цветки липы, листья мяты, листья земляники, цветы ромашки, листья мелиссы.',
        'amount-icon-type': 'pyramid',
        //- 'amount-icon-type': 'dellipack',
        'amount-text': '15 шт',
        'weight-text': '40,5 г',
        'method-size': '200 мл',
        'method-temp': '90-100 С',
        'method-time': '3-5 мин',
        'class-page': 'pyramid',
    }

- let classSlMobileSlider = 'pyramid';

- 
    let dataSlider = [
        {
            path: '../img/content/pyramid-siberian-berries.webp',
            alt: 'Сибирский сбор'
        },
        {
            path:'../img/content/pyramid-ginger-tropic.webp',
            alt: 'Имбирный тропик'
        },
        {
            path: '../img/content/pyramid-strawberry-pana-cotta.webp',
            alt: 'Клубничная Панна-Котта'
        },                          
        {
            path: '../img/content/pyramid-green-wind.webp',
            alt: 'Зеленый ветер'
        },
        {
            path: '../img/content/pyramid-milk-oolong.webp',
            alt: 'Молочный Улун'
        },
        {
            path: '../img/content/pyramid-russian-breakfast.webp',
            alt: 'Русский Завтрак'
        },
        {
            path: '../img/content/pyramid-earl-grey.webp',
            alt: 'Эрл Грей'
        },
    
    ]

-
    let breadcrumbs = [
        {name: 'Главная', url: './index.html'},
        {name: 'Каталог', url: './catalog.html'},
        {name: 'Порционный чай в пирамидках', url: './catalog-pyramid.html'},
        {name: 'Forest Meditation | Лесная Медитация', url: './product-card-forest-meditation.html'},
    ]


doctype html
html(lang='ru') 
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title Лесная Медитация
    body(data-variant='product-card')

        include ./modules/header.pug

        main.main

            include ./modules/bread-crumbs 

            include ./modules/product-card-description

            .prc__wr-title-slider
                h2.prc__title-slider Попробуйте другие вкусы

            .prc__wr-slider
                include ./modules/tea-sl-slider

            .prc__wr-slider_mobile
                include ./modules/tea-sl-swiper-mobile


        include ./modules/footer