- 
    let dataProductCard = {
        title: ['Da Hong Pao', 'Да Хун Пао Большой Красный Халат'],
        classCard: 'leaf-da-hong-pao',
        img: '../img/content/leaf-da-hong-pao.webp',
        'img-animate': '../img/content/leaf-green-animation.webp',
        idAnimate: 'leaf-green',
        description: 'Теплый, глубокий, пряный, с хлебными, цветочными, сладковатыми карамельными и винными нюансами.',
        composition: 'Состав: чай улун (черный) байховый крупнолистовой китайский, сильноферментированный материковый улун.',
        //- 'amount-icon-type': 'pyramid',
        //- 'amount-icon-type': 'dellipack',
        'amount-icon-type': 'leaf',
        //- 'amount-text': '20шт.',
        'weight-text': '250 г',
        'method-size': '400 мл',
        'method-temp': '90-100 С',
        'method-time': '4-5 мин',
        'class-page': 'leaf',
    }

- let classSlMobileSlider = 'leaf';

- 
    let dataSlider = [
        {
            path: '../img/content/leaf-jin-hao.webp',
            alt: 'Jin Hao',
            link: './product-card-leaf-jin-hao.html',
            title: 'jin-hao',
        },
        {
            path: '../img/content/leaf-tie-guan-yin.webp',
            alt: 'Tie Guan Yin',
            link: './product-card-leaf-tie-guan-yin.html',
            title: 'guan-yin',
        },
        {
            path: '../img/content/leaf-uzbek-tea-95.webp',
            alt: 'Uzbek tea №95',
            link: './product-card-leaf-uzbeck-tea-95.html',
            title: 'uzbek-tea-95',
        },
        {
            path: '../img/content/leaf-georgian-green-tea-36.webp',
            alt: 'Georgian green tea №36',
            link: './product-card-leaf-georgian-green-tea-36.html',
            title: 'georgian-green-tea-36',
        },
        {
            path: '../img/content/leaf-georgian-black-tea-36.webp',
            alt: 'Georgian black tea №36',
            link: './product-card-leaf-georgian-black-tea-36.html',
            title: 'georgian-black-tea-36',
        },
        {
            path: '../img/content/leaf-traditional-sbiten.webp',
            alt: 'Сбитень монастырский',
            link: './product-card-leaf-traditional-sbiten.html',
            title: 'traditional-sbiten',
        },
        {
            path: '../img/content/leaf-healing-herbs.webp',
            alt: 'Мыс целебных трав',
            link: './product-card-leaf-healing-herbs.html',
            title: 'healing-herbs',
        },
        {
            path: '../img/content/leaf-fireweed-natural.webp',
            alt: 'Иван-чай',
            link: './product-card-leaf-fireweed-natural.html',
            title: 'fireweed-natural',
        },
        {
            path: '../img/content/leaf-creamy-oolong.webp',
            alt: 'Сливочный улун',
            link: './product-card-leaf-creamy-oolong.html',
            title: 'creamy-oolong',
        },
        {
            path: '../img/content/leaf-dian-hong.webp',
            alt: 'Dian hong',
            link: './product-card-leaf-dian-hong.html',
            title: 'dian-hong',
        },
        {
            path: '../img/content/leaf-altai-herbal-mix-3.webp',
            alt: 'Алтайский сбор №3',
            link: './product-card-leaf-altai-herbal-mix-3.html',
            title: 'altai-herbal-mix-3',
        },
        {
            path: '../img/content/leaf-sagan-dale.webp',
            alt: 'Саган-Дайля',
            link: './product-card-leaf-sagan-dale.html',
            title: 'sagan-dale',
        },
        {
            path: '../img/content/leaf-altaic-herbs.webp',
            alt: 'Травы Алтая',
            link: './product-card-leaf-altaic-herbs.html',
            title: 'altaic-herbs',
        },
        {
            path: '../img/content/leaf-spicy-black.webp',
            alt: 'Черный купаж со специями',
            link: './product-card-leaf-spisy-black.html',
            title: 'spicy-black',
        },
        {
            path: '../img/content/leaf-altai-herbal-mix-1.webp',
            alt: 'Алтайский сбор №1',
            link: './product-card-leaf-altai-herbal-mix-1.html',
            title: 'altai-herbal-mix-1',
        },
        {
            path: '../img/content/leaf-altai-herbal-mix-2.webp',
            alt: 'Алтайский сбор №2',
            link: './product-card-leaf-altai-herbal-mix-2.html',
            title: 'altai-herbal-mix-2',
        },
        {
            path: '../img/content/leaf-thyme.webp',
            alt: 'Чабрец',
            link: './product-card-leaf-thyme.html',
            title: 'leaf-thyme',
        },
        {
            path: '../img/content/leaf-oregano.webp',
            alt: 'Душица',
            link: './product-card-leaf-oregano.html',
            title: 'oregano',
        },
        {
            path: '../img/content/leaf-black-currant-leaf.webp',
            alt: 'Лист смородины',
            link: './product-card-leaf-currant-leaf.html',
            title: 'black-currant-leaf',
        },
        {
            path: '../img/content/leaf-bergenia.webp',
            alt: 'Бадан',
            link: './product-card-leaf-bergenia.html',
            title: 'bergenia',
        },
        {
            path: '../img/content/leaf-lavender.webp',
            alt: 'Лаванда',
            link: './product-card-leaf-lavander.html',
            title: 'lavender',
        },
        {
            path: '../img/content/leaf-buckwheat-granulated.webp',
            alt: 'Гречишный чай гранулированный',
            link: './product-card-leaf-buckwheat-tea-granular.html',
            title: 'buckwheat-granulated',
        },
        {
            path: '../img/content/leaf-cascara.webp',
            alt: 'Каскара',
            link: './product-card-leaf-cascara.html',
            title: 'cascara',
        },
        {
            path: '../img/content/leaf-buckwheat.webp',
            alt: 'Гречишный чай',
            link: './product-card-leaf-buckwheat-tea.html',
            title: 'buckwheat',
        },
        {
            path: '../img/content/leaf-butterly-pea-flower.webp',
            alt: 'Анчан',
            link: './product-card-leaf-butterfly-pea-flower.html',
            title: 'butterly-pea-flower',
        },
        {
            path: '../img/content/leaf-gaba-oolong.webp',
            alt: 'Gaba Oolong',
            link: './product-card-leaf-gaba-oolong.html',
            title: 'gaba-oolong',
        },
        {
            path: '../img/content/leaf-rosehi-p.webp',
            alt: 'Шиповник',
            link: './product-card-leaf-rosehip.html',
            title: 'rosehip',
        },
        {
            path: '../img/content/leaf-hibiscus.webp',
            alt: 'Каркаде',
            link: './product-card-leaf-hibiscus.html',
            title: 'hibiscus', 
        },
        {
            path: '../img/content/leaf-rooibush.webp',
            alt: 'Ройбуш',
            link: './product-card-leaf-rooibush.html',
            title: 'rooibush',
        }
    ]

-
    let breadcrumbs = [
        {name: 'Главная', url: './index.html'},
        {name: 'Каталог', url: './catalog.html'},
        {name: 'Листовой чай Базовая линейка', url: './catalog-leaf-basic.html'},
        {name: 'Da Hong Pao | Да Хун Пао Большой Красный Халат', url: './product-card-leaf-da-hong-pao.html'},
    ]


doctype html
html(lang='ru') 
    head
        include ./modules/analytics.pug
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        include ./modules/favicon
        title Da Hong Pao
    body(data-variant='product-card')

        include ./modules/header.pug

        main.main

            include ./modules/bread-crumbs 

            include ./modules/product-card-description

            .prc__wr-title-slider
                h2.prc__title-slider Попробуйте другие вкусы

            .prc__wr-slider
                include ./modules/tea-sl-slider

            .prc__wr-slider_mobile
                include ./modules/tea-sl-swiper-mobile


        include ./modules/footer