mixin nav-out-site(points)
    .nav-out
        .nav-out__wrapper
            .nav-out__wr-title 
                a.nav-out__title(href="https://family.nikteaworld.com/" target="_blank")
                    span niktea 
                    span Family
            .nav-out__wr-nav
                .nav-out__triangle
                ul.nav-out__list
                    each item in points
                        li.nav-out__item
                            a(href=item.link title=item.title + " Niktea Family" target="_blank")  #{item.title}
                            .nav-out__line-anim