- 
    let dataSlider = [
        {
            path:'../img/content/dellipack-horeka-krasnaya-polyana.webp',
            alt: 'Краснополянский сбор зеленый чай',
            link: './product-card-dellipack-horeka-krasnaya-polyana.html',
            title: 'Краснополянский сбор зеленый чай',
        },
        {
            path:'../img/content/dellipack-horeka-english-breakfest.webp',
            alt: 'Английский завтрак черный чай',
            link: './product-card-dellipack-horeka-english-breakfest.html',
            title: 'Английский завтрак черный чай',
        },
        {
            path:'../img/content/dellipack-horeka-milk-oolong.webp',
            alt: 'Молочный Улун зеленый чай',
            link: './product-card-dellipack-horeka-milk-oolong.html',
            title: 'Молочный Улун зеленый чай',
        },
        {
            path: '../img/content/dellipack-horeka-green-fusion.webp',
            alt: 'Грин Фьюжн зеленый чай',
            link: './product-card-dellipack-horeka-green-fusion.html',
            title: 'Грин Фьюжн зеленый чай',
        },                          
        {
            path: '../img/content/dellipack-horeka-jasmine-oriental.webp',
            alt: 'Жасмин Ориентал зеленый чай',
            link: './product-card-dellipack-horeka-jasmine-oriental.html',
            title: 'Жасмин Ориентал зеленый чай',
        }, 
        {
            path: '../img/content/dellipack-horeka-strawberry-dessert.webp',
            alt: 'Клубничный Десерт травяной чай',
            link: './product-card-dellipack-horeka-strawberry-dessert.html',
            title: 'Клубничный Десерт травяной чай',
        },    
    ]