.tea-sl__wrapper {
    display: flex;
    min-height: 26.04vw;

    justify-content: space-between;
}

.tea-sl__wr-button {
    display: flex;

    align-items: center;
    justify-content: center;
}

.tea-sl__button {
    width: 4.17vw;
    height: 4.17vw;

    cursor: pointer;
}

.tea-sl__wr-slides {
    width: 65.10vw;

    overflow: hidden;
}

.tea-sl__wr-slide-list {
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: 0;
    margin-bottom: 0;
}


.tea-sl__slide-item {
    display: flex;

    justify-content: center;
    align-items: center;
    /* flex-basis: 416.64px;*/ /* назначать програмно */
    flex-shrink: 0;
}

.tea-sl__slide-item img {
    width: 80%;
    height: auto;

    transition: all 0.3s ease;
}



.tea-sl__slide-item-prev img {
    width: 60%;
    height: auto;

    transform: translate(-30%, -12%);
}

.tea-sl__slide-item-center img {
    width: 80%;
    height: auto;
}

.tea-sl__slide-item-next img {
    width: 60%;
    height: auto;

    transform: translate(30%, -12%);
}

